<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.debuggor.mockinterview.interview.dao.EvaluationDao">

    <resultMap id="evaluationMap" type="com.debuggor.mockinterview.interview.bean.Evaluation">
        <id column="eid" property="eid"/>
        <result column="comment" property="comment"/>
        <result column="grade" property="grade"/>
        <result column="iid" property="iid"/>
        <result column="fid" property="fid"/>
        <result column="create_time" property="createTime"/>
        <association property="finder" javaType="com.debuggor.mockinterview.interview.bean.Finder">
            <result column="username" property="username"/>
            <result column="head_url" property="headUrl"/>
        </association>
        <association property="interviewer" javaType="com.debuggor.mockinterview.interview.bean.Interviewer">
            <result column="iusername" property="username"></result>
            <result column="ihead_url" property="headUrl"></result>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.debuggor.mockinterview.interview.bean.Evaluation"
            useGeneratedKeys="true" keyProperty="eid">
        INSERT into j_evaluation(comment,grade,iid,fid,oid,create_time)
        VALUES(#{comment},#{grade},#{iid},#{fid},#{oid},#{createTime})
    </insert>

    <select id="getEvaluationByIid" resultMap="evaluationMap" parameterType="java.lang.Integer">
        SELECT e.eid,e.comment,e.grade,e.iid,e.fid,e.create_time,f.username,f.head_url
        from j_evaluation e LEFT JOIN j_finder f on e.fid=f.fid WHERE e.iid = #{iid}
    </select>

    <select id="getEvaluationNumByIid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(*) from j_evaluation WHERE iid=#{iid}
    </select>

    <select id="getEvaluationGradeByIid" parameterType="java.lang.Integer" resultType="java.lang.Float">
        SELECT AVG(grade) from j_evaluation WHERE iid=#{iid}
    </select>

    <sql id="with_Recent_Eva_Column_List">
        e.eid,e.comment,e.grade,e.create_time,i.iid,i.username iusername,i.head_url ihead_url,f.fid,f.username,f.head_url
    </sql>

    <select id="getHotEvaluations" resultMap="evaluationMap">
        SELECT
        <include refid="with_Recent_Eva_Column_List"/>
        from j_evaluation e
        LEFT JOIN j_interviewer i on e.iid=i.iid
        LEFT JOIN j_finder f on f.fid=e.fid
        WHERE e.create_time>DATE_SUB(CURDATE(),INTERVAL 5 MONTH)
        ORDER BY e.grade DESC LIMIT 0,10
    </select>
</mapper>