<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuggor.mockinterview.common.dao.InterviewTypeDao">

    <select id="getTypeList" resultType="com.debuggor.mockinterview.interview.bean.Type">
        SELECT * FROM j_type;
    </select>

    <select id="getTypeById" resultType="com.debuggor.mockinterview.interview.bean.Type">
        SELECT * FROM j_type WHERE tid = #{tid};
    </select>

    <select id="getTypeByParentId" resultType="com.debuggor.mockinterview.interview.bean.Type">
        SELECT * FROM j_type WHERE parent_id = #{parentId};
    </select>

    <insert id="insert" parameterType="com.debuggor.mockinterview.interview.bean.Type">
        INSERT INTO j_type(type_name,order_no,parent_id) VALUES (#{typeName},#{orderNo},#{parentId});
    </insert>
    <!--
    UPDATE Websites SET alexa='5000', country='USA' WHERE name='菜鸟教程';
    -->
    <update id="updateType">

    </update>

    <delete id="delete">
        DELETE FROM j_type WHERE tid = #{tid};
    </delete>
</mapper>