<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuggor.mockinterview.interview.dao.InterviewerDao">

    <select id="getInterviewerByEmail" resultType="com.debuggor.mockinterview.interview.bean.Interviewer"
            parameterType="java.lang.String">
        SELECT * from j_interviewer WHERE email = #{email}
    </select>

    <select id="getInterviewerById" resultType="com.debuggor.mockinterview.interview.bean.Interviewer"
            parameterType="java.lang.Integer">
        SELECT * from j_interviewer WHERE iid = #{iid}
    </select>

    <insert id="insert" parameterType="com.debuggor.mockinterview.interview.bean.Interviewer">
        INSERT into j_interviewer(username,password,email,head_url,sex,create_time,is_activate,activate_code,is_certification)
        VALUES (#{username},#{password},#{email},#{headUrl},#{sex},#{createTime},#{isActivate},#{activateCode},#{isCertification})
    </insert>

    <update id="updateActivate" parameterType="java.lang.String">
        UPDATE j_interviewer SET is_activate=1 WHERE activate_code = #{code}
    </update>

    <update id="update" parameterType="com.debuggor.mockinterview.interview.bean.Interviewer">
        UPDATE j_interviewer
        <set>
            <if test="email != null">email=#{email},</if>
            <if test="username != null">username=#{username},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="qq != null">qq=#{qq},</if>
            <if test="weixin != null">weixin=#{weixin},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="description != null">description=#{description},</if>
            <if test="password != null">password=#{password},</if>
            <if test="headUrl != null">head_url=#{headUrl},</if>
            <if test="blogUrl != null">blog_url=#{blogUrl},</if>
            <if test="cost != null">cost=#{cost},</if>
            <if test="workYear != null">work_year=#{workYear},</if>
        </set>
        WHERE iid = #{iid}
    </update>

    <select id="getInterviewerHot" parameterType="java.lang.Integer"
            resultType="com.debuggor.mockinterview.interview.bean.Interviewer">
        SELECT iid,username,head_url,work_year,grade from j_interviewer
        ORDER BY grade desc
        LIMIT 0,#{num}
    </select>

    <select id="getInterviewerNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(1) from j_interviewer
    </select>
</mapper>