<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.debuggor.mockinterview.interview.dao.OrdersDao">

    <resultMap id="orderMap" type="com.debuggor.mockinterview.interview.bean.Order">
        <id column="oid" property="oid"/>
        <result column="order_num" property="orderNum"/>
        <result column="order_status" property="orderStatus"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="paid_amount" property="paidAmount"/>
        <result column="introduction" property="introduction"/>
        <result column="resume_url" property="resumeUrl"/>
        <result column="is_interviewed" property="isInterviewed"/>
        <result column="is_ordered" property="isOrdered"/>
        <result column="is_evaluation" property="isEvaluation"/>
        <result column="evaluation_id" property="evaluationId"/>
        <result column="create_time" property="createTime"/>
        <result column="paid_time" property="paidTime"/>
        <result column="ordered_time" property="orderedTime"/>
        <result column="interviewer_id" property="interviewerId"/>
        <result column="interviewer_username" property="interviewerName"/>
        <result column="finder_id" property="finderId"/>
        <result column="finder_username" property="finderName"/>
    </resultMap>

    <insert id="insert" parameterType="com.debuggor.mockinterview.interview.bean.Order">
        INSERT into j_order(order_num,order_status,order_amount,introduction,resume_url,finder_id,interviewer_id,create_time)
        VALUES(#{orderNum},#{orderStatus},#{orderAmount},#{introduction},#{resumeUrl},#{finderId},#{interviewerId},#{createTime})
    </insert>

    <select id="getOrderByOrderNum" parameterType="java.lang.String"
            resultMap="orderMap">
        SELECT
        <include refid="with_Order_Column_List"></include>
        from j_order o
        LEFT JOIN j_interviewer i on i.iid=o.interviewer_id
        LEFT JOIN j_finder f on f.fid=o.finder_id
        WHERE o.order_num = #{orderNum}
    </select>

    <select id="getOrderById" parameterType="java.lang.Integer"
            resultMap="orderMap">
        SELECT
        <include refid="with_Order_Column_List"></include>
        from j_order o
        LEFT JOIN j_interviewer i on i.iid=o.interviewer_id
        LEFT JOIN j_finder f on f.fid=o.finder_id
        WHERE o.oid=#{oid}
    </select>

    <update id="update" parameterType="com.debuggor.mockinterview.interview.bean.Order">
        UPDATE j_order
        <set>
            <if test="orderStatus != null">order_status=#{orderStatus},</if>
            <if test="paidAmount != null">paid_amount=#{paidAmount},</if>
            <if test="paidTime != null">paid_time=#{paidTime},</if>
            <if test="isInterviewed != null">is_interviewed=#{isInterviewed},</if>
            <if test="isOrdered != null">is_ordered=#{isOrdered},</if>
            <if test="isEvaluation != null">is_evaluation=#{isEvaluation},</if>
            <if test="evaluationId != null">evaluation_id=#{evaluationId},</if>
            <if test="orderedTime != null">ordered_time=#{orderedTime},</if>
        </set>
        WHERE order_num = #{orderNum}
    </update>

    <select id="getOrderByFinderId" resultType="com.debuggor.mockinterview.interview.bean.Order"
            parameterType="java.lang.Integer">
        SELECT * from j_order
        WHERE finder_id=#{fid}
        ORDER BY create_time DESC
    </select>

    <sql id="with_Order_Column_List">
        o.oid,o.order_num,o.order_status,o.order_amount,
        o.paid_amount,o.introduction,o.resume_url,
        o.is_interviewed,o.is_ordered,o.is_evaluation,
        o.evaluation_id,o.create_time,o.paid_time,o.ordered_time,
        i.iid interviewer_id,i.username interviewer_username,
        f.fid finder_id,f.username finder_username
    </sql>
    <!--  所有的订单信息-->
    <select id="getOrderList" parameterType="com.debuggor.mockinterview.interview.bean.Order" resultMap="orderMap">
        SELECT
        <include refid="with_Order_Column_List"></include>
        from j_order o
        LEFT JOIN j_interviewer i on i.iid=o.interviewer_id
        LEFT JOIN j_finder f on f.fid=o.finder_id
        ORDER BY o.create_time DESC
    </select>

</mapper>