<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>IT模拟面试后台</title>
    <link rel="stylesheet" th:href="@{/front/layui/css/layui.css}">

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 后台公共头部 -->
    <div th:replace="admin/common/bar::topbar"></div>

    <!-- 后台公共左侧 -->
    <div th:replace="admin/common/bar::leftbar"></div>

    <!-- 内容主体区域 -->
    <div class="layui-body" style="overflow: hidden;">
        <iframe id="mainiframe" th:src="@{/admin/home}" name="iframe_main"
                width="100%" frameborder="0" scrolling="auto" align="left"></iframe>
    </div>

    <!-- 后台公共底部-->
    <div th:replace="admin/common/bar::bottombar"></div>
</div>

<script th:src="@{/front/layui/layui.js}"></script>
<script th:src="@{/admin/js/jquery.min.js}"></script>

<script>
    layui.use('element', function () {
        var element = layui.element;
    });

    function changeFrameHeight() {
        var ifm = document.getElementById("mainiframe");
        ifm.height = document.documentElement.clientHeight - 100;
    }

    window.onresize = function () {
        changeFrameHeight();
    }
    $(function () {
        changeFrameHeight();
    });
</script>
</body>
</html>