<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>评论列表</title>
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">

</head>
<body style="background-color: #F3F3F4;">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 search-collapse" style="background-color: #ffffff;padding-bottom: 20px;">
            <div>&nbsp;</div>
            <form class="form-inline" role="form" th:action="@{/admin/forum/commentList}" method="post">
                <div class="form-group col-sm-4 select-time">
                    <label class="control-label">评论时间：</label>
                    <input name="startTime" class="form-control" id="startTime" style="width: 30%;"
                           placeholder="开始时间" th:value="${startTime}">
                    <span>-</span>
                    <input name="endTime" class="form-control" id="endTime" style="width: 30%;"
                           placeholder="结束时间" th:value="${endTime}">
                </div>
                <div class="form-group col-sm-2">
                    <button type="submit" class="btn btn-info">查询</button>&nbsp;
                </div>
            </form>
        </div>
        <div>&nbsp;</div>
        <div class="col-sm-12 table-responsive" style="background-color: #ffffff;border-radius:15px;">
            <table class="table table-hover table-sm">
                <caption><h3>评论列表</h3></caption>
                <thead>
                <tr>
                    <th>内容</th>
                    <th>帖子</th>
                    <th>评论人</th>
                    <th>评论时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment:${pageInfo.list}">
                    <td style="width: 30%;overflow: hidden;">
                        <div style="height: 20px;line-height: 30px;">
                            <a th:href="@{/forum/}+${comment.forum.pid}" th:utext="${comment.comment}"
                               target="_blank"></a>
                        </div>
                    </td>
                    <td style="width: 30%;overflow: hidden;">
                        <div style="height: 20px;line-height: 30px;">
                            <a th:href="@{/forum/}+${comment.forum.pid}" th:text="${comment.forum.title}"
                               target="_blank"></a>
                        </div>
                    </td>
                    <td th:text="${comment.username}"></td>
                    <td th:text="${#dates.format(comment.commentTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <span th:if="${comment.commentStatus}==1">正常</span>
                        <span th:if="${comment.commentStatus}==2">屏蔽</span>
                    </td>
                    <td>
                        <button class="btn btn-info btn-sm" th:onclick="'editComment('+${comment.cid}+')'">
                            修改
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--文字信息-->
        <div class="col-sm-4">
            当前第 [[${pageInfo.pageNum}]] 页.总共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
        </div>
        <!--点击分页-->
        <div class="col-sm-6">
            <nav aria-label="Page navigation">
                <ul class="pagination  pagination-lg" style="display:inline-block;list-style:none;">
                    <li>
                        <a th:href="@{/admin/forum/commentList(pid=${pid},startTime=${startTime},endTime=${endTime},pn=1)}">首页</a>
                    </li>
                    <!--上一页-->
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="@{/admin/forum/commentList(pid=${pid},startTime=${startTime},endTime=${endTime},pn=${pageInfo.pageNum-1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                    <li th:each="page_num:${pageInfo.navigatepageNums}">
                        <span class="active" th:if="${page_num == pageInfo.pageNum}">
                            <a href="#">[[${page_num}]]</a></span>
                        <span th:if="${page_num != pageInfo.pageNum}">
                            <a th:href="@{/admin/forum/commentList(pid=${pid},startTime=${startTime},endTime=${endTime},pn=${page_num})}">[[${page_num}]]</a></span>
                    </li>
                    <!--下一页-->
                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="@{/admin/forum/commentList(pid=${pid},startTime=${startTime},endTime=${endTime},pn=${pageInfo.pageNum+1})}"
                           aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/forum/commentList(pid=${pid},startTime=${startTime},endTime=${endTime},pn=${pageInfo.pages})}">尾页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/front/laydate/laydate.js}"></script>
<script th:src="@{/admin/js/common.js}"></script>

<script>
    <!-- 管理员修改评论-->
    function editComment(cid) {
        var url = "/admin/forum/editComment/";
        url = url + cid;
        window.open(url, "修改评论", "height=400, width=600, top=200, left=400, toolbar=no, menubar=no, scrollbars=no, resizable=yes,location=no, status=no");
    }
</script>
</body>
</html>