<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>面试官列表</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #F3F3F4;">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 search-collapse" style="background-color: #ffffff;border-radius:15px;">
            <div>&nbsp;</div>
            <form class="form-horizontal" role="form" th:action="@{/admin/forum/postList}" method="post">
                <ul style="list-style-type:none">
                    <li>
                        <div class="col-sm-3">
                            帖子类别：
                            <select name="tid" style="width:200px;height: 30px;">
                                <option value="0">所有</option>
                                <option th:each="type:${types}" th:value="${type.tid}"
                                        th:text="${type.typeName}"></option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            创建人：<input name="nickname">
                        </div>
                        <div class="col-sm-6">
                            创建时间：<input name="startTime">-<input name="endTime">
                        </div>
                    </li>
                    <li align="center">
                        <button type="submit" class="btn btn-info">查询</button>&nbsp;
                        <button type="reset" class="btn btn-default">重置</button>
                    </li>
                </ul>
            </form>
        </div>
        <div>&nbsp;</div>
        <div class="col-sm-12 table-responsive" style="background-color: #ffffff;border-radius:15px;">
            <table class="table table-hover table-sm">
                <caption><h3>帖子列表</h3></caption>
                <thead>
                <tr>
                    <th>标题</th>
                    <th>创建人</th>
                    <th>类别</th>
                    <th>浏览量</th>
                    <th>评论数量</th>
                    <th>创建时间</th>
                    <th>最近回复时间</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="post:${pageInfo.list}">
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.username}"></td>
                    <td th:text="${post.typeName}"></td>
                    <td th:text="${post.scanCount}"></td>
                    <td th:text="${post.commentCount}"></td>
                    <td th:text="${#dates.format(post.createTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(post.replyTime, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <!--文字信息-->
        <div class="col-sm-4">
            当前第 [[${pageInfo.pageNum}]] 页.总共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
        </div>
        <!--点击分页-->
        <div class="col-sm-6">
            <nav aria-label="Page navigation">
                <ul class="pagination  pagination-lg" style="display:inline-block;list-style:none;">
                    <li><a th:href="@{/admin/forum/postList(pn=1)}">首页</a></li>
                    <!--上一页-->
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="@{/admin/forum/postList(pn=${pageInfo.pageNum-1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                    <li th:each="page_num:${pageInfo.navigatepageNums}">
                        <span class="active" th:if="${page_num == pageInfo.pageNum}"><a
                                href="#">[[${page_num}]]</a></span>
                        <span th:if="${page_num != pageInfo.pageNum}"><a
                                th:href="@{/admin/forum/postList(pn=${page_num})}">[[${page_num}]]</a></span>
                    </li>
                    <!--下一页-->
                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="@{/admin/forum/postList(pn=${pageInfo.pageNum+1})}" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                    <li><a th:href="@{/admin/forum/postList(pn=${pageInfo.pages})}">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>