<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>面试官详情</title>
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/raty/jquery.raty.css" th:href="@{/front/raty/jquery.raty.css}">
    <link rel="stylesheet" href="..static/front/window/window.css" th:href="@{/front/window/window.css}">
    <link rel="stylesheet" href="..static/front/swiper/css/swiper.min.css"
          th:href="@{/front/swiper/css/swiper.min.css}">

</head>
<body>
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>

<!--主体部分-->
<div style="background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" style="background-color: white;padding: 50px 150px 20px 150px;">
            <div class="layui-col-md3">
                <img style="width: 200px;height: 200px;border-radius: 100px;"
                     th:src="${interviewer.headUrl}">
                <div style="margin:20px 65px;">
                    <input type="hidden" id="interviewerId" th:value="${interviewer.iid}">
                    <button class="layui-btn layui-btn-sm" title="关注" onclick="follow()" th:if="${not followed}">
                        <i class="layui-icon">&#xe654;</i>关注Ta
                    </button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm" title="取消关注" onclick="unfollow()"
                            th:if="${followed}">
                        <i class="layui-icon">&#xe605;</i>已关注
                    </button>
                </div>
            </div>
            <div class="layui-col-md9" style="line-height: 25px;">
                <div>
                    <span style="font-size: 30px;">
                        [[${interviewer.username}]]
                    </span>
                    <span th:if="${interviewer.isCertification}==1" style="padding-left: 10px;">
                        <i class="iconfont icon-renzheng layui-hide-xs" style="font-size: 20px;" title="认证"></i>
                    </span>
                    <span style="float: right">
                        <button class="layui-btn layui-btn-xs">
                            <i class="layui-icon">&#xe641;</i> 分享
                        </button>
                    </span>
                </div>
                <div>
                    <span>
                        <a href="javascript:void(0)" onclick="followers()">关注[[${interviewer.followingNum}]]人</a> |
                        <a href="javascript:void(0)" onclick="following()">粉丝[[${interviewer.followersNum}]]人</a>
                    </span>
                </div>
                <div style="background-color: #f2f2f2;padding: 10px;">
                    <div style="">
                        性别：
                        <span th:if="${not #lists.isEmpty(interviewer.sex)}"
                              th:text="${interviewer.sex}==1?'女':'男'"></span>
                    </div>
                    <div style="margin-top: 5px;">
                        <span th:if="${not #lists.isEmpty(interviewer.workYear)}">
                            工作年限：[[${interviewer.workYear}]]年
                        </span>
                    </div>
                    <div style="margin-top: 5px;" th:if="${not #lists.isEmpty(interviewer.types)}">
                        擅长领域：
                        <span th:each="type:${interviewer.types}" th:text="${type}" style="padding-right: 10px;">
                        </span>
                    </div>
                    <div style="margin-top: 5px;">
                        <span>薪资：[[${interviewer.cost}]] 元/次</span>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <span>已有[[${interviewer.helpPeopleNum}]]人咨询</span>
                </div>
                <div style="margin-top: 5px;">
                        <span th:if="${#lists.isEmpty(session.interviewer)}">
                            <a th:href="@{/pay/order/}+${interviewer.iid}"
                               class="layui-btn layui-btn-danger layui-btn-lg">立即预约</a>
                        </span>
                </div>
            </div>
        </div>

        <div style="padding: 80px;">
            <div class="layui-col-md9">
                <div class="layui-tab layui-tab-brief"
                     style="background-color: white;margin-top: 50px;">
                    <ul class="layui-tab-title">
                        <li class="layui-this">面试官介绍</li>
                        <li>用户评价</li>
                    </ul>
                    <div class="layui-tab-content" style="padding: 10px;">
                        <div class="layui-tab-item layui-show" style="padding-top: 20px;">
                            <span th:utext="${interviewer.description}"></span>
                        </div>

                        <div class="layui-tab-item">
                            <div class="fly-panel" style="margin-bottom: 0;">
                                <div style="margin: 40px;" th:if="${grade}!='0.0'">
                                    <span style="color: #ea9c00;font-size: 40px;float:left;">[[${grade}]]</span>
                                    <div style="margin-left: 70px;">
                                        <div class="star" th:attr="data-num=${grade}/2"></div>
                                        <div>共[[${evaluationNum}]]条评论</div>
                                    </div>
                                </div>
                                <div style="margin: 40px;" th:if="${grade}=='0.0'">
                                    <span style="font-size: 20px;font-family: 微软雅黑;">还未有人评价~</span>
                                </div>
                                <ul class="">
                                    <li th:each="evaluation:${pageInfo.list}" style="margin: 20px;">
                                        <div style="float: left;">
                                            <a th:href="@{/finder/home/}+${evaluation.fid}" class="">
                                                <img style="width: 50px;height: 50px;border-radius: 25px;"
                                                     th:src="${evaluation.finder.headUrl}">
                                            </a>
                                        </div>
                                        <div style="margin-left: 70px;">
                                            <span style="margin:5px 10px;font-size: 20px;">
                                                <a th:href="@{/finder/home/}+${evaluation.fid}">
                                                    <span th:text="${evaluation.finder.username}"></span>
                                                </a>
                                            </span>
                                            <span>
                                                <span class="star" th:attr="data-num=${evaluation.grade}/2"></span>
                                            </span>
                                            <div style="margin:5px 10px;">
                                                <div style="font-size: 15px;line-height: 120%;margin-top: 8px;font-family: sans-serif">
                                                    [[${evaluation.comment}]]
                                                </div>
                                                <div style="font-family: Arial;margin-top: 8px;">
                                                    发表于[[${#dates.format(evaluation.createTime, 'yyyy年MM月dd日')}]]
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="float:right;width: 20%;background-color: white;margin-top: 50px;padding: 20px;">
                <div class="layui-elem-quote">
                    热门面试官
                </div>
                <div class="swiper-container" style="height:340px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="interviewer:${interviewers}" style="padding: 10px;">
                            <a th:href="@{/interviewer/}+${interviewer.iid}">
                                <div style="float: left">
                                    <img th:src="${interviewer.headUrl}"
                                         style="width: 50px;height: 50px;border-radius: 25px;">
                                </div>
                                <div style="padding-left:70px;padding-top: 5px;">
                                    <div>[[${interviewer.username}]]</div>
                                    <div>工作年限：[[${interviewer.workYear}]]年</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/raty/jquery.raty.js" th:src="@{/front/raty/jquery.raty.js}"></script>
<script src="..static/front/window/window.js" th:src="@{/front/window/window.js}"></script>
<script src="..static/front/swiper/js/swiper.min.js" th:src="@{/front/swiper/js/swiper.min.js}"></script>

<script th:inline="javascript" type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical', // 垂直切换选项
        autoHeight: true, // 自动高度
        loop: true, // 循环模式选项
        slidesPerView: 'auto',
        autoplay: {
            delay: 5000
        }
    });

    var interviewerId = document.getElementById("interviewerId").value;

    // 我关注的人
    function followers() {
        win.open(900, 550, "", "/follower/ivFollowers?iid=" + interviewerId);
    }

    // 粉丝，关注我的人
    function following() {
        win.open(900, 550, "", "/follower/ivFollowing?iid=" + interviewerId);
    }

    //   关注
    function follow() {
        var followersUid = document.getElementById("interviewerId").value;
        var islogin = [[${(#lists.isEmpty(session.finder)) and (#lists.isEmpty(session.interviewer))}]];
        if (islogin) {
            win.confirm('系统提示', '请登录！', function (r) {
                if (r) {
                    window.location.href = "/finder/login";
                }
            });
            return false;
        }
        $.ajax({
            type: 'post',
            url: '/follower/follow',
            data: {followersUid: followersUid, followersType: '2'},
            async: true,
            success: function (data) {
                if (data == 'success') {
                    window.location.reload();
                }
            }
        });
    }

    // 取消关注
    function unfollow() {
        var followersUid = document.getElementById("interviewerId").value;
        $.ajax({
            type: 'post',
            url: '/follower/unfollow',
            data: {followersUid: followersUid, followersType: '2'},
            async: true,
            success: function (data) {
                if (data == 'success') {
                    window.location.reload();
                }
            }
        });
    }

    layui.use(['element'], function () {
        var element = layui.element;
    });
    // raty星星评分插件

    $(function () {
        $(".star").raty({
            score: function () {
                return $(this).attr("data-num");
            },
            starOn: '/front/raty/images/star-on.png',
            starOff: '/front/raty/images/star-off.png',
            starHalf: '/front/raty/images/star-half.png',
            readOnly: true,
            halfShow: true,
            size: 40,
        })
    });
</script>
</body>
</html>