<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单页面</title>
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/css/order.css" th:href="@{/front/css/order.css}">
    <link rel="stylesheet" href="..static/front/window/window.css" th:href="@{/front/window/window.css}">

</head>
<body>
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>

<!-- 内容主体 -->
<div class="">

    <!--form-->
    <div class="layui-container">
        <div class="layui-row">
            <div class="order_steps">
                <ol>
                    <li><i>1</i><span>填写订单</span></li>
                    <li><i>2</i><span>付款</span></li>
                    <li class="active"><i>3</i><span>面试</span></li>
                    <li><i>4</i><span>评价</span></li>
                </ol>
            </div>

            <div th:if="${order.isInterviewed}=='2'" class="layui-col-md12"
                 style="background-color: #fcf8e4;padding: 20px;">
                <span style="color: #987a24;margin: 20px;font-size: 20px;">等待面试官发起面试！！！</span>
            </div>
            <div th:if="${order.isInterviewed}=='1'" class="layui-col-md12"
                 style="background-color: #fcf8e4;padding: 20px;">
                <span style="color: #987a24;margin: 20px;font-size: 20px;">面试已结束！！！请确认结单并进行评价!</span>
            </div>

            <div class="layui-col-md12" style="background-color: white;margin-top: 20px;padding: 20px;">
                <label style="font-size: 20px;">面试官信息</label>
                <div>
                    <span>
                        <img style="width: 100px;height: 100px;border-radius: 50px;"
                             th:src="${interviewer.headUrl}">
                    </span>
                    <div>
                        <label>面试官：</label>
                        <span>[[${interviewer.username}]]</span>
                    </div>
                    <div th:if="${not #lists.isEmpty(interviewer.sex)}">
                        <label>性别：</label>
                        <span th:text="${interviewer.sex}==1?'女':'男'"></span>
                    </div>
                    <div>
                        <label>联系方式：</label>
                        <span> [[${interviewer.phone}]]</span>
                    </div>
                    <div>
                        <label>邮箱：</label>
                        <span>[[${interviewer.email}]]</span>
                    </div>
                    <div class="layui-form-item" style="margin-top: 10px;">
                        <a class="layui-btn" th:href="@{/interview/subscribe(iid=${interviewer.iid})}">
                            发起/加入视频
                        </a>
                        <button class="layui-btn" onclick="confirmOrder()">确认结单</button>
                        <a id="confirmOrder" th:href="@{/interview/confirmOrder(oid=${order.oid})}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/window/window.js" th:src="@{/front/window/window.js}"></script>

<script>
    layui.use(['element'], function () {
        var element = layui.element;
    });

    // 结单
    function confirmOrder() {
        win.confirm('温馨提示', '确定结单吗？', function (r) {
            if (r) {
                var href = document.getElementById("confirmOrder");
                window.open(href, name = "_self");  // 在当前窗口打开链接
            }
        });
    }
</script>
</body>
</html>