<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>IT模拟面试平台</title>
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">

</head>
<body>

<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>
<!--头部-->
<div class="" style="padding: 0px 5% 0px 5%;">
    <div class="">
        <ul class="layui-nav"
            style="background-color: #f2f2f2;height: 80px;padding-top: 15px;padding-left: 100px;">
            <li class="layui-nav-item">
                <a th:href="@{/interviewer}">全部</a>
            </li>
            <li class="layui-nav-item" th:each="parent:${parentList}">
                <a href="javascript:;" style="color: #000;">[[${parent.typeName}]]</a>
                <dl class="layui-nav-child" th:if="${not #lists.isEmpty(parent.childTypes)}">
                    <dd th:each="type:${parent.childTypes}">
                        <a href="" th:href="@{/interviewer(tid=${type.tid})}">[[${type.typeName}]]</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<!-- 头部导航栏-->

<!-- 面试官列表-->
<div class="layui-container">
    <div style="margin: 20px;">
        <span style="border:1px solid #a1a1a1;border-radius: 5px;padding: 5px;background-color: #4cae4c">java</span>
    </div>

    <div class="layui-row layui-col-space20">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">综合</a>
                    <span class="fly-mid"></span>
                    <a href="">未结</a>
                    <span class="fly-mid"></span>
                    <a href="">已结</a>
                    <span class="fly-mid"></span>
                    <a href="">精华</a>
                    <span class="fly-filter-right layui-hide-xs">
                        <a href="" class="layui-this">按最新</a>
                        <span class="fly-mid"></span>
                        <a href="">按热议</a>
                    </span>
                </div>

                <ul class="fly-list">
                    <li th:each="interview:${pageInfo.list}"
                        style="height: auto;width: 100%;padding: 30px  20px 50px 20px;">
                        <span style="display:inline-block;">
                            <a href="#" th:href="@{/interviewer/}+${interview.iid}">
                                <img style="width: 140px;height: 140px;border-radius: 70px;"
                                     th:src="${interview.headUrl}">
                            </a>
                        </span>
                        <span style="display:inline-block;margin: 0px 50px;">
                            <div style="line-height:25px;">
                                <h1>
                                    <a th:href="@{/interviewer/}+${interview.iid}">
                                        <span th:text="${interview.username}"></span>
                                    </a>
                                </h1>
                                <span th:utext="${interview.description}"></span>
                            </div>
                            <div>
                                <span style="position: absolute;right: 200px;">4.9分</span>
                                <span style="position: absolute;right: 60px;">
                                    <span style="font-size: 30px;color: #ff6600">80</span>元</span>
                            </div>
                            <div style="position: absolute;bottom: 50px;line-height:25px;">
                                <div>3年工作经验 帮助过8123人次</div>
                                <span th:each="type:${interview.types}" th:text="${type}"
                                      style="border:1px solid #a1a1a1;border-radius: 5px;margin: 30px 5px;padding: 5px;"></span>
                                <span style="position: absolute;right: -350px;border:1px solid #a1a1a1;border-radius: 5px;padding: 5px;">
                                    <a th:href="@{/interviewer/}+${interview.iid}">
                                        <i class="iconfont icon-jiaoliu" style="color: #4cae4c"></i> 联系Ta
                                    </a>
                                </span>
                        </div>
                        </span>

                        <div class="fly-list-badge" style="width: 100%"></div>
                    </li>
                </ul>

                <div style="text-align: center">
                    <nav>
                        <ul class="pagination">
                            <li><a th:href="@{/interviewer(pn=1,tid=${tid})}">首页</a></li>
                            <!--上一页-->
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="@{/interviewer(pn=${pageInfo.pageNum-1},tid=${tid})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                            <li th:each="page_num:${pageInfo.navigatepageNums}">
                        <span class="active" th:if="${page_num == pageInfo.pageNum}"><a
                                href="#">[[${page_num}]]</a></span>
                                <span th:if="${page_num != pageInfo.pageNum}"><a
                                        th:href="@{/interviewer(pn=${page_num},tid=${tid})}">[[${page_num}]]</a></span>
                            </li>
                            <!--下一页-->
                            <li th:if="${pageInfo.hasNextPage}">
                                <a th:href="@{/interviewer(pn=${pageInfo.pageNum+1},tid=${tid})}" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                            <li><a th:href="@{/interviewer(pn=${pageInfo.pages},tid=${tid})}">尾页</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a href="">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="#" target="_blank">layui</a>
                    <dd>
                    <dd><a href="#" target="_blank">WebIM</a>
                    <dd>
                    <dd><a href="#" target="_blank">layer</a>
                    <dd>
                    <dd><a href="#" target="_blank">layDate</a>
                    <dd>
                    <dd><a href="" class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>


<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script>
    layui.use(['carousel', 'form', 'element'], function () {
        var carousel = layui.carousel, form = layui.form;
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
    });
</script>
</body>
</html>