<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>IT模拟面试平台</title>
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/raty/jquery.raty.css" th:href="@{/front/raty/jquery.raty.css}">
    <link rel="stylesheet" href="..static/front/swiper/css/swiper.min.css"
          th:href="@{/front/swiper/css/swiper.min.css}">
    <style>
        /*重写layui子栏目样式*/
        .layui-nav .layui-nav-more {
            content: '';
            width: 0;
            height: 0;
            border-style: solid dashed dashed;
            border-color: #fff transparent transparent;
            overflow: hidden;
            cursor: pointer;
            transition: all .2s;
            -webkit-transition: all .2s;
            position: absolute;
            top: 50%;
            right: 3px;
            margin-top: -3px;
            border-width: 6px;
            border-top-color: rgba(57, 61, 73, 0.7)
        }

        .layui-nav .layui-nav-mored, .layui-nav-itemed .layui-nav-more {
            margin-top: -9px;
            border-style: dashed dashed solid;
            border-color: transparent transparent #393D49
        }

    </style>
</head>
<body>

<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>
<!--头部-->
<div class="" style="padding: 0px 5% 0px 5%;">
    <div class="">
        <ul class="layui-nav"
            style="background-color: #f2f2f2;height: 80px;padding-top: 15px;text-align: center;margin-right: 35%;">
            <li class="layui-nav-item">
                <a style="color: #000;" th:href="@{/interviewer}">全部</a>
            </li>
            <li class="layui-nav-item" th:each="parent:${parentList}">
                <a href="javascript:;" style="color: #000;">
                    [[${parent.typeName}]]
                </a>
                <dl class="layui-nav-child" th:if="${not #lists.isEmpty(parent.childTypes)}">
                    <dd th:each="type:${parent.childTypes}">
                        <a href="" th:href="@{/interviewer(tid=${type.tid})}">[[${type.typeName}]]</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<!-- 头部导航栏-->

<!-- 面试官列表-->
<div class="layui-container">
    <div style="margin: 20px;">
        <span th:if="${not #lists.isEmpty(type)}" style="width: 50px;background-color: #08bf91;padding: 10px;">
            [[${type.typeName}]]
            <a th:href="@{/interviewer}">
                <i class="layui-icon" style="margin-left: 5px;">&#x1006;</i>
            </a>
        </span>
    </div>

    <div class="layui-row layui-col-space20">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a th:href="@{/interviewer(tid=${tid},order=null)}" th:selected="${order}==null"
                       class="layui-order">综合</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/interviewer(tid=${tid},order=1)}" th:selected="${order}==1" class="layui-order">评分&nbsp;↓</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/interviewer(tid=${tid},order=2)}" th:selected="${order}==2" class="layui-order">价格&nbsp;↓</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/interviewer(tid=${tid},order=3)}" th:selected="${order}==3" class="layui-order">价格&nbsp;↑</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/interviewer(tid=${tid},order=4)}" th:selected="${order}==4" class="layui-order">帮助人数&nbsp;↓</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/interviewer(tid=${tid},order=5)}" th:selected="${order}==5" class="layui-order">工作年限&nbsp;↓</a>
                </div>

                <ul class="">
                    <li th:each="interview:${pageInfo.list}"
                        style="height: auto;width: 100%;padding:20px;">
                        <div style="float:left;">
                            <a href="#" th:href="@{/interviewer/}+${interview.iid}">
                                <img style="width: 140px;height: 140px;border-radius: 70px;"
                                     th:src="${interview.headUrl}">
                            </a>
                        </div>
                        <div style="margin: 15px 20px 20px 40px;padding-left: 120px;">
                            <div>
                                <span>
                                    <a th:href="@{/interviewer/}+${interview.iid}">
                                        <span th:text="${interview.username}" style="font-size: 30px;"></span>
                                    </a>
                                </span>
                                <span th:if="${interview.isCertification}==1" style="padding-left: 10px;">
                                    <i class="iconfont icon-renzheng layui-hide-xs" style="font-size: 20px;"
                                       title="认证"></i>
                                </span>
                            </div>
                            <div style="padding-left: 60%">
                                <span th:if="${not #lists.isEmpty(interview.grade)}" class="star"
                                      th:attr="data-num=${interview.grade}/2"></span>
                                <span style="padding-left: 10px;">[[${interview.grade}]]分</span>
                                <span>
                                    <span style="padding-left:20px;font-size: 30px;color: #ff6600">[[${interview.cost}]]</span>元
                                </span>
                            </div>
                            <div style="margin-top: -10px;">
                                性别：
                                <span th:if="${not #lists.isEmpty(interview.sex)}"
                                      th:text="${interview.sex}==1?'女':'男'"></span>
                            </div>
                            <div>
                                <span th:if="${not #lists.isEmpty(interview.workYear)}">[[${interview.workYear}]]年工作经验 </span>
                                <span> 帮助过[[${interview.helpPeopleNum}]]人次</span>
                            </div>
                            <div style="margin-top: 5px;"
                                 th:if="${not #lists.isEmpty(interview.types)}">
                                擅长领域：
                                <span th:each="type:${interview.types}" th:text="${type}"
                                      style="padding-right: 10px;">
                                    </span>
                            </div>
                            <div style="padding-left: 70%;">
                                <a th:href="@{/interviewer/}+${interview.iid}">
                                    <i class="iconfont icon-jiaoliu"
                                       style="color: #4cae4c"></i> 联系Ta
                                </a>
                            </div>
                        </div>
                        <div style="position:absolute;left:10px;width: 100%;height: 2px;background-color: #f2f2f2;"></div>
                    </li>
                </ul>

                <div style="text-align: center">
                    <nav style="padding-bottom: 20px;">
                        <ul class="pagination">
                            <li>
                                <span style="font-size: 12px;">
                                    <a th:href="@{/interviewer(tid=${tid},order=${order},pn=1)}">首页</a>
                                </span>
                            </li>
                            <!--上一页-->
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <span>
                                    <a th:href="@{/interviewer(tid=${tid},order=${order},pn=${pageInfo.pageNum-1})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </span>
                            </li>
                            <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                            <li th:each="page_num:${pageInfo.navigatepageNums}">
                                <span th:if="${page_num == pageInfo.pageNum}">
                                    <a href="#" class="active">[[${page_num}]]</a>
                                </span>
                                <span th:if="${page_num != pageInfo.pageNum}">
                                    <a th:href="@{/interviewer(tid=${tid},order=${order},pn=${page_num})}">[[${page_num}]]</a>
                                </span>
                            </li>
                            <!--下一页-->
                            <li th:if="${pageInfo.hasNextPage}">
                                <span>
                                    <a th:href="@{/interviewer(tid=${tid},order=${order},pn=${pageInfo.pageNum+1})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 12px;">
                                    <a th:href="@{/interviewer(tid=${tid},order=${order},pn=${pageInfo.pages})}">尾页</a>
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a href="">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
            </dl>

            <div class="fly-panel fly-list-one ">
                <div class="fly-panel-title">
                    最近评议
                </div>
                <div class="swiper-container" style="height:400px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="evaluation:${hotEvaluations}" style="padding: 10px;">
                            <div>
                                <span>
                                    [[${evaluation.finder.username}]]&nbsp;评价
                                    <b><a th:href="@{/interviewer/}+${evaluation.iid}">[[${evaluation.interviewer.username}]]</a></b>
                                </span>
                                <span style="float: right;margin-right: 20px;">[[${#dates.format(evaluation.createTime, 'yyyy-MM-dd HH:mm')}]]</span>
                            </div>
                            <div style="padding: 5px;width: 95%;">
                                <span style="font-family: 微软雅黑; padding: 1px;" th:utext="${evaluation.comment}"></span>
                            </div>
                            <div style="background-color: #f2f2f2;height: 1px;width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="#" target="_blank">layui</a>
                    <dd>
                    <dd><a href="#" target="_blank">WebIM</a>
                    <dd>
                    <dd><a href="#" target="_blank">layer</a>
                    <dd>
                    <dd><a href="#" target="_blank">layDate</a>
                    <dd>
                    <dd><a href="" class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>


<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/raty/jquery.raty.js" th:src="@{/front/raty/jquery.raty.js}"></script>
<script src="..static/front/swiper/js/swiper.min.js" th:src="@{/front/swiper/js/swiper.min.js}"></script>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical', // 垂直切换选项
        autoHeight: true, // 自动高度
        loop: true, // 循环模式选项
        slidesPerView: 'auto',
        autoplay: {
            delay: 5000
        }
    });

    layui.use(['carousel', 'form', 'element'], function () {
        var carousel = layui.carousel, form = layui.form;
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
    });

    // raty星星评分插件
    $(function () {
        $(".star").raty({
            score: function () {
                return $(this).attr("data-num");
            },
            starOn: '/front/raty/images/star-on.png',
            starOff: '/front/raty/images/star-off.png',
            starHalf: '/front/raty/images/star-half.png',
            readOnly: true,
            halfShow: true,
            size: 40
        })
    });

    // 排序选中
    $(function () {
        $(".layui-order[selected='selected']").addClass("layui-this");
    });

</script>
</body>
</html>