<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${forum.title}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/css/wangEditor.css" th:href="@{/front/css/wangEditor.css}">

</head>
<body>
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>


<span id="top"></span>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <br>
            <div style="margin-bottom: 5px;">
                <a th:href="@{/forum}">首页</a> >
                <a th:href="@{/forum(tid=${forum.tid})}">[[${forum.typeName}]]</a> >
                [[${forum.title}]]
            </div>
            <div class="fly-panel detail-box">
                <h1>[[${forum.title}]]</h1>
                <div class="fly-detail-info"></div>
                <div style="background-color: #f2f2f2;margin: 10px;height: 50px;padding-left: 10px;padding-top: 10px;">
                    <div>
                        <span th:if="${forum.userType}=='1'">
                            <a href="#" th:href="@{/finder/home/}+${forum.uid}" style="float: left;">
                                <img th:src="${forum.headUrl}" style="width: 40px;height: 40px;">
                            </a>
                        </span>
                        <span th:if="${forum.userType}=='2'">
                            <a href="#" th:href="@{/interviewer/}+${forum.uid}" style="float: left;">
                                <img th:src="${forum.headUrl}" style="width: 40px;height: 40px;">
                            </a>
                        </span>
                    </div>
                    <div style="margin-top: 10px;">
                        <span style="padding: 10px;font-size: 16px;" th:if="${forum.userType}=='1'">
                            <a href="#" th:href="@{/finder/home/}+${forum.uid}" >
                                <cite>[[${forum.username}]]</cite>
                            </a>
                        </span>
                        <span style="padding: 10px;font-size: 16px;" th:if="${forum.userType}=='2'">
                            <a href="#" th:href="@{/interviewer/}+${forum.uid}" >
                                <cite>[[${forum.username}]]</cite>
                            </a>
                        </span>

                        <span>[[${#dates.format(forum.createTime, 'yyyy-MM-dd')}]] </span>
                        <span style="float:right;margin-right: 10px;">
                            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>
                                [[${forum.commentCount}]]
                            </a>
                            <i class="iconfont" title="浏览" style="padding-left: 10px;">&#xe60b;</i>[[${forum.scanCount}]]
                        </span>
                    </div>
                </div>
                <div class="detail-body photos" th:utext="${forum.content}"></div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>
                <ul class="jieda" id="jieda">
                    <li th:each="comment:${comments}">
                        <div class="detail-about detail-about-reply">
                            <span th:if="${comment.userType}=='1'">
                                <a class="fly-avatar" href="" th:href="@{/finder/home/}+${comment.uid}">
                                    <img th:src="${comment.headUrl}" alt="">
                                </a>
                            </span>
                            <span th:if="${comment.userType}=='2'">
                                <a class="fly-avatar" href="#" th:href="@{/interviewer/}+${comment.uid}">
                                     <img th:src="${comment.headUrl}" alt="">
                                </a>
                            </span>

                            <div class="fly-detail-user">
                                <span th:if="${comment.userType}=='1'">
                                    <a href="" class="fly-link" th:href="@{/finder/home/}+${comment.uid}">
                                        <cite>[[${comment.username}]]</cite>
                                    </a>
                                </span>
                                <span th:if="${comment.userType}=='2'">
                                    <a href="" class="fly-link" th:href="@{/interviewer/}+${comment.uid}">
                                        <cite>[[${comment.username}]]</cite>
                                    </a>
                                </span>

                            </div>
                            <div class="detail-hits">
                                <span>[[${#dates.format(comment.commentTime, 'yyyy-MM-dd')}]]</span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p th:utext="${comment.comment}"></p>
                        </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan" type="zan">
                                <i class="iconfont icon-zan"></i>
                                <em>0</em>
                            </span>
                            <span type="reply">
                                <i class="iconfont icon-svgmoban53"></i>回复
                            </span>
                            <div class="jieda-admin">
                                <span type="edit">编辑</span>
                                <span type="del">删除</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="fly-panel detail-box" id="flyReply"
                 th:if="${(not #lists.isEmpty(session.finder)) or (not #lists.isEmpty(session.interviewer))}">
                <div class="layui-form layui-form-pane">
                    <form th:action="@{/forum/insertComment}" method="post">
                        <input type="hidden" name="pid" th:value="${forum.pid}">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block" id="comment">
                                    <textarea id="L_content" name="comment" required lay-verify="required"
                                              style="height: 260px;" placeholder="评论最少10个字">
                                    </textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_vercode" class="layui-form-label">验证码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_vercode" name="vercode" required lay-verify="required"
                                       placeholder="请输入验证码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">
                                <canvas id="canvas" width="100" height="43"></canvas>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a href="">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>

            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="#" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01"
                       style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
                </div>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
            </div>

            <!--评论、回到顶部-->
            <div>
                <ul class="layui-fixbar">
                    <li class="layui-icon" lay-type="bar1" style="background-color:#009688"></li>
                    <a href="#top">
                        <li class="layui-icon layui-fixbar-top" lay-type="top"
                            style="background-color: rgb(0, 150, 136); display: list-item;">
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/js/verification.js" th:src="@{/front/js/verification.js}"></script>
<script src="..static/front/js/wangEditor.js" th:src="@{/front/js/wangEditor.js}"></script>

<script>
    var editor = new wangEditor('L_content');

    //配置处理图片上传的路径，最好用相对路径
    editor.config.uploadImgUrl = 'upload.do';
    //配置图片上传到后台的参数名称
    editor.config.uploadImgFileName = 'myFileName';
    editor.create();

    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.init();
    });

    $(function () {
        var show_num = [];
        draw(show_num);

        $("#canvas").on('click', function () {
            draw(show_num);
        });
        $(".layui-btn").on('click', function () {
            var content = $("#L_content").val();
            var val = $("#L_vercode").val().toLowerCase();
            var num = show_num.join("");
            if (content == '' || content.length() < 10) {
                document.getElementById('L_content').focus();
            }
            if (val == '') {
                document.getElementById('L_vercode').focus();
            } else if (val == num) {
                $("form").submit();
            } else {
                alert('验证码错误！请重新输入！');
                $("#L_vercode").val('');
                draw(show_num);
            }
        })
    });
</script>

</body>
</html>