<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${forum.title}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/css/wangEditor.css" th:href="@{/front/css/wangEditor.css}">
    <link rel="stylesheet" href="..static/front/swiper/css/swiper.min.css"
          th:href="@{/front/swiper/css/swiper.min.css}">
    <link rel="stylesheet" href="..static/front/window/window.css" th:href="@{/front/window/window.css}">

    <style>
        .jieda-admin {
            display: none;
        }

        .comment:hover .jieda-reply .jieda-admin {
            display: block;
        }
    </style>
</head>
<body>
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <br>
            <div style="margin-bottom: 5px;">
                <a th:href="@{/forum}">首页</a> >
                <a th:href="@{/forum(tid=${forum.tid})}">[[${forum.typeName}]]</a> >
                [[${forum.title}]]
            </div>
            <div class="fly-panel detail-box">
                <h1>[[${forum.title}]]</h1>
                <div class="fly-detail-info"></div>
                <div style="background-color: #f2f2f2;margin: 10px;height: 50px;padding-left: 10px;padding-top: 10px;">
                    <div>
                        <span th:if="${forum.userType}=='1'">
                            <a href="#" th:href="@{/finder/home/}+${forum.uid}" style="float: left;">
                                <img th:src="${forum.headUrl}" style="width: 40px;height: 40px;">
                            </a>
                        </span>
                        <span th:if="${forum.userType}=='2'">
                            <a href="#" th:href="@{/interviewer/}+${forum.uid}" style="float: left;">
                                <img th:src="${forum.headUrl}" style="width: 40px;height: 40px;">
                            </a>
                        </span>
                    </div>
                    <div style="margin-top: 10px;">
                        <span style="padding: 10px;font-size: 16px;" th:if="${forum.userType}=='1'">
                            <a href="#" th:href="@{/finder/home/}+${forum.uid}">
                                <cite>[[${forum.username}]]</cite>
                            </a>
                        </span>
                        <span style="padding: 10px;font-size: 16px;" th:if="${forum.userType}=='2'">
                            <a href="#" th:href="@{/interviewer/}+${forum.uid}">
                                <cite>[[${forum.username}]]</cite>
                            </a>
                        </span>

                        <span>[[${#dates.format(forum.createTime,  'yyyy-MM-dd HH:mm')}]] </span>
                        <span style="float:right;margin-right: 10px;">
                            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>
                                [[${forum.commentCount}]]
                            </a>
                            <i class="iconfont" title="浏览" style="padding-left: 10px;">&#xe60b;</i>
                            &nbsp;[[${forum.scanCount}]]
                        </span>
                    </div>
                </div>
                <div class="detail-body photos">
                    <span th:utext="${forum.content}"></span>
                    <div style="height: 2px;width: 100%;background-color: #f2f2f2;margin: 10px 0;"></div>
                    <div style="padding: 10px;font-size: 12px;">
                        <span style="float: left;">
                            <span th:if="${not #lists.isEmpty(preForum)}">
                                 <a th:href="@{/forum/}+${preForum.pid}" style="color: #3c3f41;">
                                     <i class="layui-icon" style="font-size: 12px;">&#xe65a;</i>上一贴
                                     <span th:text="${preForum.title}"></span>
                                 </a>
                            </span>
                            <span th:if="${#lists.isEmpty(preForum)}">没有更多了~</span>
                        </span>
                        <span style="float: right;">
                            <span th:if="${not #lists.isEmpty(nextForum)}">
                                <a th:href="@{/forum/}+${nextForum.pid}" style="color: #3c3f41;">
                                    <span th:text="${nextForum.title}"></span>
                                    &nbsp;下一贴<i class="layui-icon" style="font-size: 12px;">&#xe65b;</i>
                                </a>
                            </span>
                            <span th:if="${#lists.isEmpty(nextForum)}">没有更多了~</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>
                <ul class="jieda" id="jieda">
                    <!-- 一级评论 -->
                    <li th:each="comment:${comments}" class="comment">
                        <div class="detail-about detail-about-reply">
                            <span th:if="${comment.userType}=='1'">
                                <a class="fly-avatar" href="" th:href="@{/finder/home/}+${comment.uid}">
                                    <img th:src="${comment.headUrl}" alt="">
                                </a>
                            </span>
                            <span th:if="${comment.userType}=='2'">
                                <a class="fly-avatar" href="#" th:href="@{/interviewer/}+${comment.uid}">
                                     <img th:src="${comment.headUrl}" alt="">
                                </a>
                            </span>

                            <div class="fly-detail-user">
                                <span th:if="${comment.userType}=='1'">
                                    <a href="" class="fly-link" th:href="@{/finder/home/}+${comment.uid}">
                                        <cite>[[${comment.username}]]</cite>
                                    </a>
                                </span>
                                <span th:if="${comment.userType}=='2'">
                                    <a href="" class="fly-link" th:href="@{/interviewer/}+${comment.uid}">
                                        <cite>[[${comment.username}]]</cite>
                                    </a>
                                </span>

                            </div>
                            <div class="detail-hits">
                                <span>[[${#dates.format(comment.commentTime, 'yyyy-MM-dd HH:mm')}]]</span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p th:utext="${comment.comment}"></p>
                        </div>
                        <div class="jieda-reply" style="position: relative;left: 70%;">
                            <div class="jieda-admin fly-list-info" th:if="${not #lists.isEmpty(session.finder)}">
                                <span th:if="${comment.userType}=='1'">
                                    <span th:if="${comment.uid}==${session.finder.fid}">
                                        <a th:onclick="'deleteComment('+${comment.cid}+')'"
                                           style="color: #5fb878;">删除</a>
                                    </span>
                                </span>
                            </div>
                            <div class="jieda-admin fly-list-info" th:if="${not #lists.isEmpty(session.interviewer)}">
                                <span th:if="${comment.userType}=='2'">
                                     <span th:if="${comment.uid}==${session.interviewer.iid}">
                                         <a th:onclick="'deleteComment('+${comment.cid}+')'"
                                            style="color: #5fb878;">删除</a>
                                     </span>
                                </span>
                            </div>
                            <div style="position: relative;left: 50px;">
                                <!-- 点赞功能，后续有时间在完成 -->
                                 <!--
                                <span class="jieda-zan" type="zan">
                                    <i class="iconfont icon-zan"></i>
                                    <em>0</em>
                                </span>
                                -->
                                <span class="replyComment" type="reply">
                                    <i class="iconfont icon-svgmoban53"></i>回复([[${#lists.size(comment.sonComments)}]])
                                </span>
                            </div>
                        </div>
                        <!-- 二级评论-->
                        <div class="secondComment" style="background-color: #f2f2f2;position: relative;margin: 0 20px;">
                            <div th:each="sonComment:${comment.sonComments}"
                                 style="padding: 10px;font-size: 12px;font-family: 微软雅黑;">
                                <div style="margin-bottom: 10px;height: auto;">
                                    <span>
                                        <a href="#"
                                           style="color: #db7868;font-size: 15px;">[[${sonComment.username}]]</a>:
                                    </span>
                                    <span th:utext="${sonComment.comment}" style="margin-right: 10px;"></span>
                                </div>
                                <div>
                                    <span>
                                        [[${#dates.format(sonComment.commentTime, 'yyyy-MM-dd HH:mm')}]]
                                    </span>
                                </div>
                                <div style="height: 1px;width: 100%;background-color: #dbdbdb;margin-top: 5px;"></div>
                            </div>
                            <div style="padding:10px 20px 40px 20px;">
                                <form th:action="@{/forum/insertComment}" method="post">
                                    <input type="hidden" name="pid" th:value="${forum.pid}">
                                    <input type="hidden" name="parentId" th:value="${comment.cid}" value="0">
                                    <div>
                                        <input name="comment" class="layui-input" placeholder="请输入你的观点">
                                    </div>
                                    <div class="layui-form-item"
                                         style="float:right;margin-right: 20px;margin-top: 5px;">
                                        <button class="layui-btn layui-btn-sm" lay-filter="*" lay-submit>回复</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- th:if="${(not #lists.isEmpty(session.finder)) or (not #lists.isEmpty(session.interviewer))}" -->
            <div class="fly-panel detail-box" id="comment">
                <div class="layui-form layui-form-pane">
                    <form th:action="@{/forum/insertComment}" method="post">
                        <input type="hidden" name="pid" th:value="${forum.pid}">
                        <input type="hidden" name="parentId" value="0">
                        <div class="layui-form-item layui-form-text">
                            <label for="L_content"></label>
                            <div class="layui-input-block">
                                    <textarea id="L_content" name="comment" required lay-verify="required"
                                              style="height: 200px;" placeholder="评论最少10个字">
                                    </textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_vercode" class="layui-form-label">验证码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_vercode" name="vercode" required lay-verify="required"
                                       placeholder="请输入验证码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">
                                <canvas id="canvas" width="100" height="43"></canvas>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn parentComment" lay-filter="*" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="layui-col-md4" style="margin-top: 40px;">
            <div class="fly-panel fly-list-one">
                <dt class="fly-panel-title">近期热帖</dt>
                <div class="swiper-container" style="height:400px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="forum:${hotPosts}" style="padding: 10px;">
                            <div>
                                <a th:href="@{/forum/}+${forum.pid}"> [[${forum.title}]]</a>
                            </div>
                            <div style="font-size: 12px;" class="fly-list-info">
                                <span style="padding-bottom: 20px;">
                                    发表于[[${#dates.format(forum.createTime, 'yyyy-MM-dd HH:mm')}]]
                                </span>
                                <span style="float: right;margin-right: 30px;">
                                    浏览([[${forum.scanCount}]])
                                    <span class="fly-mid"></span>
                                    回复([[${forum.commentCount}]])
                                </span>
                            </div>
                            <div style="width: 100%;height: 1px;margin-top:5px;background-color: #f2f2f2"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="#" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01"
                       style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
                </div>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
            </div>

            <!--评论、回到顶部-->
            <div>
                <ul class="layui-fixbar">
                    <a th:href="@{/forum/add}">
                        <li class="layui-icon" lay-type="bar1" style="background-color:#009688"></li>
                    </a>
                    <a onclick='$("html,body").animate({"scrollTop":0});'>
                        <li class="layui-icon layui-fixbar-top" lay-type="top"
                            style="background-color: rgb(0, 150, 136); display: list-item;">
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/js/verification.js" th:src="@{/front/js/verification.js}"></script>
<script src="..static/front/js/wangEditor.js" th:src="@{/front/js/wangEditor.js}"></script>
<script src="..static/front/swiper/js/swiper.min.js" th:src="@{/front/swiper/js/swiper.min.js}"></script>
<script src="..static/front/window/window.js" th:src="@{/front/window/window.js}"></script>

<script language='javascript' th:inline="javascript">

    $(function () {
        $(".secondComment").hide();
        $(".replyComment").click(function () {
            $("li:hover div.secondComment").toggle();
        });
    });

    function deleteComment(cid) {
        win.confirm('温馨提示', '确定删除评论吗？', function (r) {
            if (r) {
                $.ajax({
                    type: 'get',
                    url: '/forum/deleteComment/' + cid,
                    async: true,
                    success: function (data) {
                        if (data == 'success') {
                            window.location.reload();
                        }
                        if (data == 'error') {
                            layui.msg("删除评论失败！");
                        }
                    }
                });
            }
        });
    }

    var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical', // 垂直切换选项
        autoHeight: true, // 自动高度
        loop: true, // 循环模式选项
        slidesPerView: 'auto',
        autoplay: {
            delay: 5000
        }
    });

    var editor = new wangEditor('L_content');

    //配置处理图片上传的路径，最好用相对路径
    editor.config.uploadImgUrl = 'upload.do';
    //配置图片上传到后台的参数名称
    editor.config.uploadImgFileName = 'myFileName';
    editor.create();

    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.init();
    });

    $(function () {
        var show_num = [];
        draw(show_num);
        var islogin = [[${(#lists.isEmpty(session.finder)) and (#lists.isEmpty(session.interviewer))}]];

        $("#canvas").on('click', function () {
            draw(show_num);
        });
        $(".parentComment").on('click', function () {
            var content = $.trim($("#L_content").val());
            var val = $("#L_vercode").val().toLowerCase();
            var num = show_num.join("");
            if (islogin) {
                win.confirm('系统提示', '请登录！', function (r) {
                    if (r) {
                        window.location.href = "/finder/login";
                    }
                });
                return false;
            }
            if (content.length < 10) {
                win.alert('提示', '评论内容太短！');
                return false;
            }
            if (val == '') {
                document.getElementById('L_vercode').focus();
            } else if (val == num) {
                $("form").submit();
            } else {
                win.alert('提示', '验证码错误！请重新输入！');
                $("#L_vercode").val('');
                draw(show_num);
            }
        })
    });
</script>

</body>
</html>