<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>论坛</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- 头部 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IT模拟面试平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="forum.html">讨论区</a></li>
                <li class=""><a href="#">关于我们</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <br><br><br>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <a>全部</a>&nbsp;&nbsp;
                        <a>站内公告</a>&nbsp;&nbsp;
                        <a>笔经面经</a>&nbsp;&nbsp;
                        <a href="#">我要提问</a>&nbsp;&nbsp;
                        <a href="#">技术交流</a>&nbsp;&nbsp;
                        <a href="#">产品运营</a>&nbsp;&nbsp;
                        <a href="#">留学生</a>&nbsp;&nbsp;
                        <a href="#">职业发展</a>&nbsp;&nbsp;
                        <a href="#">招聘信息</a>&nbsp;&nbsp;
                        <a href="#">资源分享</a>&nbsp;&nbsp;
                        <a href="#">猿生活</a>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="panel-body">
                    <ul style="list-style-type: none;">
                        <li style="height: 25px;">
							<span>
								<img src="https://i8.mifile.cn/b2c-mimall-media/41f858550f42eb1770b97faf219ae215.png"
                                     width="40" height="40" class="img-circle">
							</span>
                            <span style="position: absolute; left: 14%;width: 100%;line-height: 20px;">
								备战春招 |十年算法刷题大牛亲传校招通关秘籍，限时早鸟报名中限时早鸟报名
								<div style="font-size: small;">
									<span style="color: red;">debuggor</span>
									<span style="position:absolute ;left: 15%; ">发表时间：2018-11-12 &nbsp; 最后回复：2018-11-12 12:12:12</span>
									<span style="position:absolute ;left: 70%; ">回复26 | 浏览 2345</span>
								</div>
							</span>
                        </li>
                        <hr>
                        <li style="height: 25px;">
							<span>
								<img src="https://i8.mifile.cn/b2c-mimall-media/41f858550f42eb1770b97faf219ae215.png"
                                     width="40" height="40" class="img-circle">
							</span>
                            <span style="position: absolute; left: 14%;width: 100%;">
								备战春招 |十年算法刷题大牛亲传校招通关秘籍，限时早鸟报名中限时早鸟报名
								<div style="font-size: small;">
									<span style="color: red;">debuggor</span>
									<span style="position:absolute ;left: 15%; ">发表时间：2018-11-12 &nbsp; 最后回复：2018-11-12 12:12:12</span>
									<span style="position:absolute ;left: 70%; ">回复26 | 浏览 2345</span>
								</div>
							</span>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 column">
            <div>活跃用户：----------------------------</div>
        </div>
    </div>
</div>

</body>
</html>