<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>论坛</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: 15%;
            margin-left: 15%;
        }
    </style>
</head>
<body>

<!-- 头部 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IT模拟面试平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="forum.html">讨论区</a></li>
                <li class=""><a href="#">关于我们</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <br><br><br>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="height: 50px;">
                        <ul class="list-unstyled list-inline" style="position: absolute;top: 25px;">
                            <li><a th:href="@{/forum}" th:selected="${tid}==null" id="all"  style="background-color:#f5f5f5">全部</a></li>
                            <li th:each="type:${types}" th:value="${type.tid}">
                                <a th:selected="${tid}==${type.tid}" th:href="@{/forum(tid=${type.tid})}" style="background-color:#f5f5f5">[[${type.typeName}]]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <span>最新回复  | 最新发表  | 最热</span>
                    <ul class="nav nav-list" style="list-style-type: none;">
                        <li th:each="forum:${pageInfo.list}" style="height: 100px;background-color: #ffffff">
							<span style="position: absolute;left: 15px;top: 10px;">
								<img src="https://i8.mifile.cn/b2c-mimall-media/41f858550f42eb1770b97faf219ae215.png"
                                     width="70" height="70" class="img-circle">
							</span>
                            <span style="position: absolute; left: 10%;width: 100%;top:20px;line-height: 40px;">
                                <a th:href="@{/forum/}+${forum.pid}"><span style="font-size: 22px;"
                                                                           th:text="${forum.title}"></span></a>
								<div style="font-size: 14px;">
									<span style="color: red;" th:text="${forum.nickname}"></span>
									<span style="position:absolute ;left: 12%; ">[[${#dates.format(forum.createTime, 'yyyy-MM-dd')}]] &nbsp;发表在<b>[[${forum.typeName}]]</b> 最后回复：[[${#dates.format(forum.replyTime, 'yyyy-MM-dd HH:mm')}]]</span>
									<span style="position:absolute ;left: 70%; ">回复[[${forum.commentCount}]] | 浏览 [[${forum.scanCount}]]</span>
								</div>
							</span>
                            <span>
                                <div style="width: 100%;height: 2px;background-color: #e7e7e7"></div>
                            </span>
                        </li>
                    </ul>
                    <!--点击分页-->
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <nav aria-label="Page navigation">
                            <ul class="pagination  pagination-lg" style="display:inline-block;list-style:none;">
                                <li><a th:href="@{/forum(pn=1)}">首页</a></li>
                                <!--上一页-->
                                <li th:if="${pageInfo.hasPreviousPage}">
                                    <a th:href="@{/forum(pn=${pageInfo.pageNum-1})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                                <li th:each="page_num:${pageInfo.navigatepageNums}">
                        <span class="active" th:if="${page_num == pageInfo.pageNum}"><a
                                href="#">[[${page_num}]]</a></span>
                                    <span th:if="${page_num != pageInfo.pageNum}"><a
                                            th:href="@{/forum(pn=${page_num})}">[[${page_num}]]</a></span>
                                </li>
                                <!--下一页-->
                                <li th:if="${pageInfo.hasNextPage}">
                                    <a th:href="@{/forum(pn=${pageInfo.pageNum+1})}" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                <li><a th:href="@{/forum(pn=${pageInfo.pages})}">尾页</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 column">
            <div>活跃用户：----------------------------</div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("a[selected='selected']").css("background-color","#00bc9b");
    });
</script>
</body>
</html>