<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提现订单详情</title>
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">

</head>
<body style="background-color: #f3f3f4;padding:0 20px;">
<div class="container">
    <!-- 面试官的基本信息-->
    <div class="row clearfix " style="margin-top: 10px;">
        <h4>基本信息</h4>
        <div class="panel panel-body">
            <div class="col-sm-4">
                <span>用户名:[[${interviewer.username}]]</span>
            </div>
            <div class="col-sm-4">
                <span>邮箱:[[${interviewer.email}]]</span>
            </div>
            <div class="col-sm-4">
                <span>电话:[[${interviewer.phone}]]</span>
            </div>
            <div class="col-sm-4">
                <span>工作年限:[[${interviewer.workYear}]]</span>
            </div>
            <div class="col-sm-4">
                <span>收费:[[${interviewer.cost}]]</span>
            </div>
            <div class="col-sm-4">
                <span>个人主页:<a th:href="@{/interviewer/}+${interviewer.iid}" target="_blank">查看</a></span>
            </div>
        </div>
    </div>
    <!-- 面试官的认证信息列表-->
    <div class="row clearfix" style="margin-top: 10px;">
        <h4>提现订单详情</h4>
        <div class="col-md-12 column">
            <!-- 待认证-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="col-sm-4">
                            <span>提现金额:[[${extractOrder.amount}]]元</span>
                        </div>
                        <div class="col-sm-4">
                            <span>账户余额:[[${amount.amount}]]元</span>
                        </div>
                        <div class="col-sm-4">
                            <span>申请时间:[[${#dates.format(extractOrder.createTime, 'yyyy-MM-dd HH:mm')}]]</span>
                        </div>
                        <div class="col-sm-12">
                            <span>支护宝账户:[[${extractOrder.aliAccount}]]</span>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <form th:action="@{/extractOrder/submitExtractOrder}" id="formId" class="form-inline"
                              role="form" method="post">
                            <input type="hidden" name="eoid" th:value="${extractOrder.eoid}">
                            <div class="form-group col-sm-12  checkbox">
                                <label class=" control-label">审核结果：</label>
                                <input type="radio" name="orderStatus" value="2">审核通过&nbsp;&nbsp;
                                <input type="radio" name="orderStatus" value="3" checked>审核不通过
                            </div>
                            <div class="form-group col-sm-12" style="margin-top: 10px;">
                                <label class=" control-label ">反馈信息：</label>
                                <textarea class="form-control" type="text" name="reviewInfo"
                                          style="width: 500px;"></textarea>
                            </div>
                            <div class="form-group" style="margin-left: 50px;margin-top: 20px;">
                                <input type="submit" class="btn btn-success" value="提交">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>

<script type="text/javascript">

</script>
</body>
</html>