<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--头部公共部分-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0"
       href="#" th:text="${admin}"></a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{/admin/logout}">退出</a>
        </li>
    </ul>
</nav>

<!--左侧公共部分-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="leftbar">

    <div>
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne"># </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseTwo"> <i class="fa fa-home"></i>主页 </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#" th:href="@{/admin/main}">首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">修改资料</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" th:href="@{/admin/system/admin/resetPwd}">修改密码</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" th:href="@{/admin/logout}">退出</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree"> 面试官管理 </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link 3</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</nav>


</body>
</html>