<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- 头部公共部分-->
<div class="layui-header" th:fragment="topbar">
    <div class="layui-logo">
        <a th:href="@{/admin}">
            <img th:src="@{/front/images/logo.png}">
        </a>
    </div>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img th:src="${session.admin.headUrl}" class="layui-nav-img">
                [[${session.admin.username}]]
            </a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/admin/admin/toUpdate}" target="iframe_main">基本资料</a></dd>
                <dd><a th:href="@{/admin/admin/resetPwd}" target="iframe_main">修改密码</a></dd>
                <hr style="margin: 5px 0;">
                <dd><a th:href="@{/admin/logout}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/}" style="color: #0fbf91">首页</a></li>
    </ul>
</div>

<!-- 左侧公共部分 -->
<div class="layui-side layui-bg-black" th:fragment="leftbar">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
                <a th:href="@{/admin}"><i class="layui-icon">&#xe68e;</i>&nbsp;&nbsp;&nbsp;&nbsp;主页</a>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;"><i class="layui-icon">&#xe613;</i>&nbsp;面试管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/admin/order/orderList}" target="iframe_main">订单列表</a></dd>
                    <dd><a th:href="@{/admin/flow/flowList}" target="iframe_main">流水管理</a></dd>
                    <dd><a href="javascript:;" target="iframe_main">退款申请</a></dd>
                    <dd><a th:href="@{/admin/interview/typeList}" target="iframe_main">IT类别</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe611;</i>&nbsp;&nbsp;论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/admin/forum/postList}" target="iframe_main">帖子列表</a></dd>
                    <dd><a th:href="@{/admin/forum/commentList}" target="iframe_main">评论列表</a></dd>
                    <dd><a th:href="@{/admin/forum/typeList}" target="iframe_main">帖子类别</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe612;</i>&nbsp;&nbsp;用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/admin/user/interviewList}" target="iframe_main">面试官列表</a></dd>
                    <dd><a th:href="@{/admin/user/finderList}" target="iframe_main">求职者列表</a></dd>
                    <dd><a th:href="@{/admin/certification/waitCertificationList}" target="iframe_main">面试官认证</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe716;</i>&nbsp;&nbsp;系统管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" target="iframe_main">数据源</a></dd>
                    <dd><a href="javascript:;" target="iframe_main">文章管理</a></dd>
                    <dd><a href="javascript:;" target="iframe_main">管理员信息</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<!-- 底部公共部分 -->
<div class="layui-footer" style="text-align: center;" th:fragment="bottombar">
    <!-- 底部固定区域 -->
    IT模拟面试社区 2019 ©
</div>

</body>
</html>