<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--头部公共部分-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0"
       href="#" th:text="${admin}"></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{/admin/logout}">退出</a>
        </li>
    </ul>
</nav>

<!--左侧公共部分-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="leftbar">

    <div align="center">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne"># </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseTwo"> <i class="fa fa-home"></i>主页 </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <ul style="list-style:none">
                        <li class="card-header">
                            <a class="card-link"  href="#"> 首页 </a>
                        </li>
                        <li class="card-header">
                            <a class="card-link"  href="#">修改资料</a>
                        </li>
                        <li class="card-header">
                            <a class="card-link" href="#">修改密码</a>
                        </li>
                        <li class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree"> 选项三 </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        #3 内容：菜鸟教程 -- 学的不仅是技术，更是梦想！！！
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>


</body>
</html>