<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuggor.mockinterview.forum.dao.CommentDao">

    <resultMap id="commentMap" type="com.debuggor.mockinterview.forum.bean.Comment">
        <id column="cid" property="cid"/>
        <result column="comment" property="comment"/>
        <result column="comment_time" property="commentTime"/>
        <association property="forum" javaType="com.debuggor.mockinterview.forum.bean.Forum">
            <id column="pid" property="pid"/>
            <result column="title" property="title"/>
        </association>
    </resultMap>

    <sql id="query_comment_where">
        <if test="uid != null and uid !='' ">and f.uid=#{uid}</if>
        <if test="tid != null and tid !='' ">and f.tid=#{tid}</if>
        <if test="startTime != null and startTime !='' ">and f.create_time <![CDATA[ >= ]]> #{startTime}</if>
        <if test="endTime != null and endTime !='' ">and f.create_time <![CDATA[ <= ]]> #{endTime}</if>
    </sql>


    <select id="getCommentListByPid" resultType="com.debuggor.mockinterview.forum.bean.Comment"
            parameterType="java.lang.Integer">
        SELECT c.cid,c.comment,c.uid,c.user_type,c.pid,c.comment_time,c.parent_id
        from f_comment c  WHERE c.pid = #{pid} and c.comment_status=1
        ORDER BY c.comment_time
    </select>

    <insert id="insert" parameterType="com.debuggor.mockinterview.forum.bean.Comment">
        insert into f_comment (comment,pid,uid,user_type,comment_time,parent_id,comment_status)
        values (#{comment},#{pid},#{uid},#{userType},#{commentTime},#{parentId},#{commentStatus});
    </insert>

    <select id="getCommentListByUid" resultMap="commentMap">
        SELECT f.pid,f.title,c.cid,c.comment,c.comment_time
        from f_comment c
        LEFT JOIN f_forum f on c.pid=f.pid
        where c.uid=#{uid} and c.user_type=#{userType} and c.comment_status=1
        ORDER BY c.comment_time DESC
    </select>

    <update id="update" parameterType="com.debuggor.mockinterview.forum.bean.Comment">
        update f_comment
        <set>
            <if test="comment != null">comment = #{comment},</if>
            <if test="commentStatus != null">comment_status = #{commentStatus},</if>
        </set>
        where cid=#{cid};
    </update>
</mapper>