<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuggor.mockinterview.forum.dao.ForumDao">

    <sql id="query_post_where">
        <if test="uid != null and uid !='' ">and f.uid=#{uid}</if>
        <if test="tid != null and tid !='' ">and f.tid=#{tid}</if>
        <if test="startTime != null and startTime !='' ">and f.create_time <![CDATA[ >= ]]> #{startTime}</if>
        <if test="endTime != null and endTime !='' ">and f.create_time <![CDATA[ <= ]]> #{endTime}</if>
    </sql>

    <select id="getPostList" resultType="com.debuggor.mockinterview.forum.bean.Forum"
            parameterType="com.debuggor.mockinterview.forum.bean.Forum">
        SELECT f.pid,f.title,f.content,f.scan_count,f.comment_count,f.create_time,f.uid,f.user_type,
        f.update_time,f.reply_time,t.tid,t.type_name
        from f_forum f
        LEFT JOIN f_type t on f.tid=t.tid
        <where>
            <include refid="query_post_where"></include>
        </where>
    </select>

    <select id="getForumById" resultType="com.debuggor.mockinterview.forum.bean.Forum"
            parameterType="java.lang.Integer">
        SELECT f.pid,f.title,f.content,f.scan_count,f.comment_count,f.uid,f.user_type,
        f.create_time,f.update_time,f.reply_time,t.tid,t.type_name
        from f_forum f
        LEFT JOIN f_type t on f.tid=t.tid
        WHERE f.pid=#{pid}
    </select>

    <insert id="insertForum" parameterType="com.debuggor.mockinterview.forum.bean.Forum" useGeneratedKeys="true"
            keyProperty="pid">
        INSERT INTO f_forum(title,content,tid,uid,user_type,scan_count,comment_count,create_time,update_time,reply_time)
        VALUES (#{title},#{content},#{tid},#{uid},#{userType},#{scanCount},#{commentCount},#{createTime},#{updateTime},#{replyTime})
    </insert>
</mapper>