<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuggor.mockinterview.forum.dao.ForumTypeDao">

    <select id="getTypeList" resultType="com.debuggor.mockinterview.forum.bean.Type">
        SELECT * FROM f_type ORDER BY order_no
    </select>

    <select id="getTypeById" resultType="com.debuggor.mockinterview.forum.bean.Type">
        SELECT * FROM f_type WHERE tid = #{tid}
    </select>

    <insert id="insert" parameterType="com.debuggor.mockinterview.forum.bean.Type">
        INSERT INTO f_type(type_name,order_no,post_num) VALUES (#{typeName},#{orderNo},#{postNum})
    </insert>

    <update id="updateType">
        UPDATE f_type
        <set>
            <if test="typeName != null">type_name=#{typeName},</if>
            <if test="orderNo != null">order_no=#{orderNo},</if>
            <if test="postNum != null">post_num=#{postNum},</if>
        </set>
        WHERE tid=#{tid}
    </update>

    <delete id="delete">
        DELETE FROM f_type WHERE tid = #{tid}
    </delete>
</mapper>