<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuggor.mockinterview.forum.dao.PostDao">

    <sql id="query_post_where">
        <if test="username != null and username !='' ">and username like #{username}</if>
        <if test="workYear != null and workYear !='' ">and work_year=#{workYear}</if>
        <if test="isCertification != null and isCertification !='' ">and is_certification=#{isCertification}</if>
        <if test="isActivate != null and isActivate !='' ">and is_activate=#{isActivate}</if>
        <if test="grade != null and grade !='' ">and grade=#{grade}</if>
        <if test="phone != null and phone !='' ">and phone like #{phone}</if>
        <if test="startTime != null and startTime !='' ">and create_time <![CDATA[ >= ]]> #{startTime}</if>
        <if test="endTime != null and endTime !='' ">and create_time <![CDATA[ <= ]]> #{endTime}</if>
    </sql>

    <select id="getPostList" resultType="com.debuggor.mockinterview.forum.bean.Post"
            parameterType="com.debuggor.mockinterview.forum.bean.Post">
        SELECT p.title,p.content,f.tid,f.type_name,j.fid,j.username,j.nickname,
        p.scan_count,p.comment_count,p.create_time,p.update_time,p.reply_time
        from f_post p
        LEFT JOIN j_finder j ON p.uid=j.fid
        LEFT JOIN f_type f on p.tid=f.tid
        <!--        <where>
                    <include refid="query_post_where"></include>
                </where>-->
    </select>
</mapper>