<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/admin/css/bootstrap.min.css" th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/admin/css/bootstrap.min14ed.css?v=3.3.6" th:href="@{/admin/css/bootstrap.min14ed.css?v=3.3.6}"
          rel="stylesheet">
    <link href="../static/admin/css/font-awesome.min93e3.css?v=4.4.0"
          th:href="@{/admin/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <link href="../static/admin/css/animate.min.css" th:href="@{/admin/css/animate.min.css}" rel="stylesheet">
    <link href="../static/admin/css/style.min862f.css?v=4.1.0" th:href="@{/admin/css/style.min862f.css?v=4.1.0}"
          rel="stylesheet">
</head>
<body class="white-bg">

<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox-title">
                <h3>修改密码</h3>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="commentForm" th:action="@{/admin/updatepsd}">
                    <div style="color: red" th:text="${}"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">原密码：</label>
                        <div class="col-sm-8">
                            <input id="cname" name="oldPassword" minlength="2" type="password" class="form-control"
                                   required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">新密码：</label>
                        <div class="col-sm-8">
                            <input id="cemail" type="password" class="form-control" name="password" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">再次确认：</label>
                        <div class="col-sm-8">
                            <input id="curl" type="password" class="form-control" name="confirm" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#form-user-resetPwd").validate({
        rules:{
            oldPassword:{
                required:true,
                remote: {
                    url: ctx + "system/user/profile/checkPassword",
                    type: "get",
                    dataType: "json",
                    data: {
                        password: function() {
                            return $("input[name='oldPassword']").val();
                        }
                    }
                }
            },
            password: {
                required: true,
                minlength: 5,
                maxlength: 20
            },
            confirm: {
                required: true,
                equalTo: "#password"
            }
        },
        messages: {
            oldPassword: {
                required: "请输入原密码",
                remote: "原密码错误"
            },
            password: {
                required: "请输入新密码",
                minlength: "密码不能小于6个字符",
                maxlength: "密码不能大于20个字符"
            },
            confirm: {
                required: "请再次输入新密码",
                equalTo: "两次密码输入不一致"
            }

        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(ctx + "system/user/profile/resetPwd", $('#form-user-resetPwd').serialize());
        }
    }
</script>


<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script src="../static/admin/js/jquery.min.js?v=2.1.4" th:src="@{/admin/js/jquery.min.js?v=2.1.4}"></script>
<script src="../static/admin/js/bootstrap.min.js?v=3.3.6" th:src="@{/admin/js/bootstrap.min.js?v=3.3.6}"></script>
<script src="../static/admin/js/content.min.js?v=1.0.0" th:src="@{/admin/js/content.min.js?v=1.0.0}"></script>
<script src="../static/admin/js/plugins/validate/jquery.validate.min.js"
        th:src="@{/admin/js/plugins/validate/jquery.validate.min.js}"></script>
<script src="../static/admin/js/plugins/validate/messages_zh.min.js"
        th:src="@{/admin/js/plugins/validate/messages_zh.min.js}"></script>
<script src="../static/admin/js/demo/form-validate-demo.min.js"
        th:src="@{/admin/js/demo/form-validate-demo.min.js}"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>


</body>
</html>