<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/font-awesome.min.css}" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="">
                <h3>修改密码</h3>
                <h4 style="color: red" th:text="${info}==''?'':${info}"></h4>
                <form th:action="@{/admin/admin/updatePwd}" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-2 control-label">原密码:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                   placeholder="原密码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">新密码:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="新密码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="col-sm-2 control-label">再次确认:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="confirm" name="confirm"
                                   placeholder="再次确认" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">确认修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

    </div>
</div>


<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


</body>
</html>