<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="..static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="..static/css/font-awesome.min93e3.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="..static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">

</head>
<body>
<!--topbar-->
<div th:replace="admin/common/bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <!--leftbar-->
        <div th:replace="admin/common/bar::leftbar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="">
                <h2>修改资料</h2>
                <h4 style="color: red" th:text="${info}==''?'':${info}"></h4>
                <form th:action="@{/admin/system/admin/updateAdmin}" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="username" name="username" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">新邮箱:</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="email" name="email"
                                   th:placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="headUrl" class="col-sm-2 control-label">头像:</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="headUrl" name="headUrl"
                                   placeholder="头像" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">确认修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

    </div>
</div>

<div>
    <script type="text/javascript" src="..static/js/jquery-3.2.1.slim.min.js"
            th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" src="..static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" src="..static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Icons -->
    <script type="text/javascript" src="..static/js/feather.min.js" th:src="@{/js/feather.min.js}"></script>
    <script>
        feather.replace()
    </script>
</div>
</body>
</html>