<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改栏目</title>
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">

</head>
<body style="background-color: white;padding:0 20px;">
<div class="container">
    <div class="row">
        <h3>修改栏目</h3>
        <form id="formId" class="form-inline" role="form" th:object="${type}"
              th:action="@{/admin/interview/editType}">
            <input name="tid" type="hidden" th:field="*{tid}"/>
            <div class="form-group col-sm-2">
                <label class=" control-label ">栏目名称：</label>
                <input class="form-control" type="text" name="typeName" th:field="*{typeName}"/>
            </div>
            <div class="form-group col-sm-2">
                <label class=" control-label">父栏目：</label>
                <select class="form-control" id="parentType" name="parentId">
                    <option th:each="type1:${parentType}" th:value="${type1.tid}"
                            th:selected="${type1.tid}==*{parentId}" th:text="${type1.typeName}"></option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label class=" control-label">优先级：</label>
                <input class="form-control" type="text" name="orderNo" id="orderNo" th:field="*{orderNo}">
            </div>
            <div class="form-group" style="text-align: center;">
                <input type="submit" class="btn btn-success" onclick="formSubmit()" value="修改">
            </div>
        </form>
    </div>
</div>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script language=javascript>
    function formSubmit() {
        document.getElementById("formId").submit();
        alert("跟新成功！");
    }
</script>
</body>
</html>