<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帐号设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/css/wangEditor.css" th:href="@{/front/css/wangEditor.css}">
</head>
<body>
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="" th:href="@{/interviewer/}+${interviewer.iid}">
                <i class="layui-icon">&#xe609;</i> 我的主页
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="#">
                <i class="layui-icon">&#xe612;</i> 用户中心
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="" th:href="@{/interviewer/toUpdate}">
                <i class="layui-icon">&#xe620;</i> 基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="#">
                <i class="layui-icon">&#xe611;</i> 我的消息
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">我的资料</li>
                <li lay-id="description">个人介绍</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass">密码</li>
                <li lay-id="bind">认证</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <form method="post" th:action="@{/interviewer/update}">
                        <input type="hidden" name="iid" th:value="${interviewer.iid}">
                        <div class="layui-form-item">
                            <label for="L_email" class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_email" name="email" required lay-verify="email"
                                       autocomplete="off" th:value="${interviewer.email}" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">如果您在邮箱已激活的情况下，变更了邮箱，需
                                <a href="#" style="font-size: 12px; color: #4f99cf;">重新验证邮箱</a>。
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_username" class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_username" name="username" required lay-verify="required"
                                       autocomplete="off" th:value="${interviewer.username}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_phone" class="layui-form-label">电话</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_phone" name="phone" autocomplete="off"
                                       th:value="${interviewer.phone}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_qq" class="layui-form-label">QQ</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_qq" name="qq" autocomplete="off" th:value="${interviewer.qq}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_weixin" class="layui-form-label">微信</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_weixin" name="weixin" autocomplete="off"
                                       th:value="${interviewer.weixin}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="0" title="男"
                                       th:checked="${interviewer.sex eq 0 }">
                                <input type="radio" name="sex" value="1" title="女"
                                       th:checked="${interviewer.sex eq 1 }">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_blogUrl" class="layui-form-label">博客地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_blogUrl" name="blogUrl" autocomplete="off"
                                       th:value="${interviewer.blogUrl}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_cost" class="layui-form-label">收费</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_cost" name="cost" autocomplete="off"
                                       th:value="${interviewer.cost}" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请填写数字金额（如填写100，则代表100元/次面试）
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_workYear" class="layui-form-label">工作年限</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_workYear" name="workYear" autocomplete="off"
                                       th:value="${interviewer.workYear}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <form method="post" th:action="@{/interviewer/update}">
                        <input type="hidden" name="iid" th:value="${interviewer.iid}">
                        <div class="layui-form-item layui-form-text">
                            <label for="L_content" class="layui-form-label">个人介绍</label>
                            <div class="layui-input-block">
                                <textarea id="L_content" name="description" autocomplete="off"
                                          class="layui-textarea" style="height: 300px;"
                                          th:text="${interviewer.description}"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <span th:text="${msg}"></span>
                        <div class="avatar-add">
                            <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过2MB</p>
                            <form id="headUrl" method="post" th:action="@{/interviewer/updateHeadUrl}"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="iid" th:value="${interviewer.iid}">
                                <div>
                                    <label for="file" class='layui-btn upload-img'>
                                        <i class="layui-icon">&#xe67c;</i>选择图片
                                    </label>
                                    <input id="file" class="inputfile" onchange="changepic(this)" type="file"
                                           style="display: none" name="headUrl"
                                           accept="image/png, image/jpeg, image/gif, image/jpg"><br>
                                    <img src="" id="showPicture" th:src="${session.interviewer.headUrl}">
                                </div>
                                <span class="loading"></span>
                            </form>
                        </div>
                        <br>
                        <div class="layui-form-item" style="position: relative;left: 130px;">
                            <button class="layui-btn" key="set-mine" lay-filter="*" onclick="headUrlLoad()">提交</button>
                        </div>
                    </div>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <form action="" id="updatePassword" method="post">
                        <div class="layui-form-item">
                            <label for="L_nowpass" class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_nowpass" name="oldPassword" placeholder="请输入当前密码"
                                       onblur="judgeOldPwd(this.value)" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_pass" class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_pass" name="password" required lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_repass" class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_repass" name="confirm" required lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine"  onclick="save()">确认修改</button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <ul class="app-bind">
                        <li class="fly-msg app-havebind">
                            <i class="iconfont icon-qq"></i>
                            <span>已成功绑定，您可以使用QQ帐号直接登录Fly社区，当然，您也可以</span>
                            <a href="javascript:;" class="acc-unbind" type="qq_id">解除绑定</a>

                            <!-- <a href="" onclick="layer.msg('正在绑定微博QQ', {icon:16, shade: 0.1, time:0})" class="acc-bind" type="qq_id">立即绑定</a>
                            <span>，即可使用QQ帐号登录Fly社区</span> -->
                        </li>
                        <li class="fly-msg">
                            <i class="iconfont icon-weibo"></i>
                            <!-- <span>已成功绑定，您可以使用微博直接登录Fly社区，当然，您也可以</span>
                            <a href="javascript:;" class="acc-unbind" type="weibo_id">解除绑定</a> -->

                            <a href="" class="acc-weibo" type="weibo_id"
                               onclick="layer.msg('正在绑定微博', {icon:16, shade: 0.1, time:0})">立即绑定</a>
                            <span>，即可使用微博帐号登录Fly社区</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/js/wangEditor.js" th:src="@{/front/js/wangEditor.js}"></script>
<script>
    var editor = new wangEditor('L_content');
    //配置处理图片上传的路径，最好用相对路径
    editor.config.uploadImgUrl = '/util/uploadImage';
    //配置图片上传到后台的参数名称
    editor.config.uploadImgFileName = 'myFileName';
    editor.create();

    layui.use('element', function () {
        var element = layui.element;
        //一些事件监听
        element.on('tab(demo)', function (data) {
            console.log(data);
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });

    function changepic(obj) {
        //console.log(obj.files[0]);//这里可以获取上传文件的name
        var newsrc = getObjectURL(obj.files[0]);
        document.getElementById('showPicture').src = newsrc;
    }

    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null;
        // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    function headUrlLoad() {
        $("#headUrl").submit();
    }

    //判断旧密码是否正确
    function judgeOldPwd(pwd){
        $.ajax({
            url : '/interviewer/judgeOldPwd?oldPwd='+pwd,
            data : "",
            async : false,
            dataType : "html",
            success : function(data){
                if(data === 'no'){
                    layer.msg('旧密码不正确！', function(){
                        $('#L_nowpass').val('');
                    });
                }
            }
        });
    }

    function save(){
        if(!$('#L_nowpass').val()){
            layer.msg('当前密码不能为空！', function(){
                $('#L_nowpass').focus();
            });
            return false;
        }else if (!$('#L_pass').val()){
            layer.msg('新密码不能为空！', function(){
                $('#L_pass').focus();
            });
            return false;
        }
        else if(!$('#L_repass').val()){
            layer.msg('确认密码不能为空！', function(){
                $('#L_repass').focus();
            });
            return false;
        }
        else if($("#L_pass").val() != $("#L_repass").val()){
            layer.msg('新密码和确认密码不一致！', function(){
            });
            return false;
        }
        $.ajax({
            url : '/interviewer/updatePassword?pwd=' + $('#L_pass').val(),
            data : "",
            async : false,
            dataType : "html",
            success : function(data) {
                if(data == 'success'){
                    layer.msg('密码修改成功！', {icon: 1});
                    $('#L_nowpass').val('');
                    $('#L_pass').val('');
                    $('#L_repass').val('');
                }else{
                    layer.msg('密码修改失败，请重试！', {icon: 5});
                }
            }
        });
    }

</script>
</body>
</html>