<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>账户提现</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" th:href="@{/front/window/window.css}">

</head>
<body>
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <!-- 公共左侧 -->
    <div th:replace="front/user/interviewer/bar::leftbar"></div>

    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" id="LAY_msg" style="margin-top: 15px;">
            <div class="layui-card-header" style="font-size: 20px;color: #009688">账户提现</div>
            <div class="layui-card-body">
                <div style="margin-top: 10px;font-size: 16px;">
                    <span style="font-size: 12px;color: #985f0d;">*提现默认转到支付宝账户,支付宝账号为注册邮箱或电话号码，提现申请成功更高</span>
                    <form class="layui-form" style="margin-top: 20px;" th:action="@{/extractOrder/submitOrder}" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">提现金额：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="amount" required lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid" style="color: #ff6b26;padding-left: 10px;font-size: 14px;">
                                当前余额：[[${amount.amount}]] 元
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付宝：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="account" required lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">提交申请</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script th:src="@{/front/layui/layui.js}"></script>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/front/window/window.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.init();
    });
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });


</script>

</body>
</html>