<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--头部公共部分-->
<div class="fly-header layui-bg-black" th:fragment="topbar">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img th:src="@{/front/images/logo.png}" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item">
                <a href="#" th:href="@{/}"><i class="iconfont icon-iconmingxinganli"></i>首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="/" th:href="@{/interviewer}"><i class="layui-icon">&#xe613;</i>&nbsp;模拟面试</a>
            </li>
            <li class="layui-nav-item">
                <a href="/" th:href="@{/forum}"><i class="iconfont icon-jiaoliu"></i>讨论区</a>
            </li>
            <li class="layui-nav-item">
                <a href="#" target="_blank"><i class="layui-icon">&#xe60b;</i>关于我们</a>
            </li>
        </ul>

        <!-- 未登入的状态 -->
        <ul class="layui-nav fly-nav-user"
            th:if="${(#lists.isEmpty(session.finder)) and (#lists.isEmpty(session.interviewer))}">
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang layui-hide-xs" href="#"></a>
            </li>
            <li class="layui-nav-item">
                <a href="#" th:href="@{/finder/login}">登入</a>
            </li>
            <li class="layui-nav-item">
                <a href="#" th:href="@{/finder/reg}">注册</a>
            </li>
        </ul>
        <!--求职者登入后的状态-->
        <ul class="layui-nav fly-nav-user"
            th:if="${(not #lists.isEmpty(session.finder)) and (#lists.isEmpty(session.interviewer))}">
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs">[[${session.finder.username}]]</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证"></i>
                    <img src="" th:src="${session.finder.headUrl}">
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#" th:href="@{/finder/toUpdate}"><i class="layui-icon">&#xe620;</i>基本设置</a>
                    </dd>
                    <dd>
                        <a href="#"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                    </dd>
                    <dd>
                        <a href="#" th:href="@{/finder/messageInterview}"><i class="layui-icon">&#xe66c;</i> 面试记录</a>
                    </dd>
                    <dd>
                        <a href="#">
                            <i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页
                        </a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a th:href="@{/finder/logout}" href="" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>

        <!--面试官登录后的状态-->
        <ul class="layui-nav fly-nav-user"
            th:if="${(#lists.isEmpty(session.finder)) and (not #lists.isEmpty(session.interviewer))}">
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs">[[${session.interviewer.username}]]</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证"></i>
                    <img src="" th:src="${session.interviewer.headUrl}">
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#" th:href="@{/interviewer/toUpdate}"><i class="layui-icon">&#xe620;</i>基本设置</a>
                    </dd>
                    <dd>
                        <a href="#"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                    </dd>
                    <dd>
                        <a href="#">
                            <i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页
                        </a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a th:href="@{/interviewer/logout}" href="" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

</div>

<!--论坛头部-->
<div class="fly-panel fly-column" th:fragment="forumtopbar">
    <div class="layui-container">
        <ul class="layui-clear">
            <li><a th:href="@{/forum}" th:selected="${tid}==null" id="all" style="color:#000000">全部</a></li>
            <li th:each="type:${types}" th:value="${type.tid}">
                <a th:selected="${tid}==${type.tid}" th:href="@{/forum(tid=${type.tid})}"
                   style="color: #000000;">[[${type.typeName}]]</a>
            </li>
        </ul>
        <div class="fly-column-right layui-hide-xs" th:if="${not #lists.isEmpty(session.finder)}">
            <a href="#" th:href="@{/forum/add}" class="layui-btn">发表新帖</a>
        </div>
        <div class="fly-column-right layui-hide-xs" th:if="${not #lists.isEmpty(session.interviewer)}">
            <a href="#" th:href="@{/forum/add}" class="layui-btn">发表新帖</a>
        </div>
    </div>
</div>

<!--公共底部-->
<div class="fly-footer" th:fragment="footerbar">
    <p><a href="#" target="_blank">IT模拟面试社区</a> 2018 &copy; <a href="#" target="_blank"></a></p>
    <p>
        <a href="#" target="_blank">关于我们</a>
        <a href="#" target="_blank">加入我们</a>
        <a href="#" target="_blank">微信公众号</a>
    </p>
</div>

<!---->
</body>
</html>