<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
    <link rel="stylesheet" href="..static/front/window/window.css" th:href="@{/front/window/window.css}">

</head>
<body style="margin-top: 65px;">
<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>
<!-- 求职者信息 -->
<div th:replace="front/user/finder/bar::infobar"></div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6 fly-home-jie">
            <div class="fly-panel">
                <div style="padding: 10px;">
                    <span style="font-size: 15px;">[[${finder.username}]] 关注的求职者</span>
                    <span style="float: right;margin-right: 20px;">
                        <a th:href="@{/finder/home/}+${finder.fid}" style="color: #009688;">回到[[${finder.username}]]的主页>></a>
                    </span>
                </div>
                <div style="background-color: #f2f2f2;height: 2px;width: 100%;"></div>
                <ul th:if="${not #lists.isEmpty(followingFinder)}">
                    <li th:each="follower:${followingFinder}" style="padding:5px 10px;margin: 10px;">
                        <div style="float: left;">
                            <a th:href="@{/finder/home/}+${follower.followersUid}">
                                <img th:src="${follower.followersHeadUrl}"
                                     style="width: 40px;height: 40px;border-radius: 20px;">
                            </a>
                        </div>
                        <div style="height: auto;padding-left: 60px;margin-bottom: 5px;">
                            <p>
                                <a th:href="@{/finder/home/}+${follower.followersUid}" style="color: #32c32e">
                                    [[${follower.followersUsername}]]
                                </a>
                                <span style="float:right;padding-right: 30px;">
                                关注于 [[${#dates.format(follower.followTime, 'yyyy-MM-dd HH:mm')}]]
                                </span>
                            </p>
                            <p style="margin: 10px 0px;">
                                <span style="font-size: 12px;font-family: sans-serif;margin: 10px 0px;">
                                    [[${follower.followersSignature}]]
                                </span>
                            </p>
                        </div>
                        <div style="height: 1px;width:100%;background-color: #f2f2f2;"></div>
                    </li>
                </ul>
                <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"
                     th:if="${#lists.isEmpty(followingFinder)}">
                    <i style="font-size:14px;"> 没有关注求职者</i>
                </div>
            </div>
        </div>

        <div class="layui-col-md6 fly-home-da">
            <div class="fly-panel">
                <div style="padding: 10px;">
                    <span style="font-size: 15px;">[[${finder.username}]] 关注的面试官</span>
                </div>
                <div style="background-color: #f2f2f2;height: 2px;width: 100%;"></div>
                <ul th:if="${not #lists.isEmpty(followingInterviewer)}">
                    <li th:each="follower:${followingInterviewer}"  style="padding:5px 10px;margin: 10px;">
                        <div style="float: left;">
                            <a th:href="@{/interviewer/}+${follower.followersUid}">
                                <img th:src="${follower.followersHeadUrl}"
                                     style="width: 40px;height: 40px;border-radius: 20px;">
                            </a>
                        </div>
                        <div style="height: auto;padding-left: 60px;margin-bottom: 5px;">
                            <p>
                                <a th:href="@{/interviewer/}+${follower.followersUid}" style="color: #32c32e">
                                    [[${follower.followersUsername}]]
                                </a>
                                <span style="float:right;padding-right: 30px;">
                                关注于 [[${#dates.format(follower.followTime, 'yyyy-MM-dd HH:mm')}]]
                                </span>
                            </p>
                            <p style="margin: 10px 0;" th:if="${not #lists.isEmpty(follower.followersWorkYear)}">
                                <span style="font-size: 12px;font-family: sans-serif;margin: 10px 0;">
                                     工作年限：[[${follower.followersWorkYear}]]年
                                </span>
                            </p>
                        </div>
                        <div style="height: 1px;width:100%;background-color: #f2f2f2;"></div>
                    </li>
                </ul>
                <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"
                     th:if="${#lists.isEmpty(followingInterviewer)}">
                    <span>没有关注面试官</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="..static/front/window/window.js" th:src="@{/front/window/window.js}"></script>

<script>
    //   关注
    function follow() {
        var followersUid = document.getElementById("finderId").value;
        var islogin = [[${(#lists.isEmpty(session.finder)) and (#lists.isEmpty(session.interviewer))}]];
        if (islogin) {
            win.confirm('系统提示', '请登录！', function (r) {
                if (r) {
                    window.location.href="/finder/login";
                }
            });
            return false;
        }
        $.ajax({
            type: 'post',
            url: '/follower/follow',
            data: {followersUid: followersUid, followersType: '1'},
            async: true,
            success: function (data) {
                if (data == 'success') {
                    window.location.reload();
                }
            }
        });
    }

    // 取消关注
    function unfollow() {
        var followersUid = document.getElementById("finderId").value;
        $.ajax({
            type: 'post',
            url: '/follower/unfollow',
            data: {followersUid: followersUid, followersType: '1'},
            async: true,
            success: function (data) {
                if (data == 'success') {
                    window.location.reload();
                }
            }
        });
    }

    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.init();
    });
</script>

</body>
</html>