<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="..static/front/layui/css/layui.css" th:href="@{/front/layui/css/layui.css}">
    <link rel="stylesheet" href="..static/front/css/global.css" th:href="@{/front/css/global.css}">
</head>
<body>

<!--前台公共头部-->
<div th:replace="front/common/bar::topbar"></div>

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <span><h1>求职者</h1></span>
            <span style="position: absolute;right: 30px;top: 20px;">
                <a th:href="@{/interviewer/login}" style="color: #009688">面试官登录>></a>
            </span>
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a th:href="@{/finder/reg}">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post" th:action="@{/finder/loginAction}">
                            <span style="color: red" th:text="${msg}"></span>
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required"
                                           placeholder="请输入验证码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">
                                    <canvas id="canvas" width="100" height="43"></canvas>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                                <span style="padding-left:20px;">
                                  <a href="#" th:href="@{/finder/forget}">忘记密码？</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--公共底部-->
<div th:replace="front/common/bar::footerbar"></div>

<script src="..static/front/layui/layui.js" th:src="@{/front/layui/layui.js}"></script>
<script src="..static/front/js/verification.js" th:src="@{/front/js/verification.js}"></script>
<script src="..static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>

<script>
    $(function () {
        var show_num = [];
        draw(show_num);

        $("#canvas").on('click', function () {
            draw(show_num);
        });
        $(".layui-btn").on('click', function () {
            var val = $("#L_vercode").val().toLowerCase();
            var num = show_num.join("");
            if (val == '') {
                alert('请输入验证码！');
            } else if (val == num) {
                $("form").submit();
            } else {
                alert('验证码错误！请重新输入！');
                $("#L_vercode").val('');
                draw(show_num);
            }
        })
    })
</script>

</body>
</html>